<style>
    body > div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable {
        z-index: 9999 !important;
    }
</style>

<div id="vue-company-announcement">
    <div class="modal-body">
        <input class="hidden" v-model="model.Id" />
        <div class="form-group">
            <label for="recipient-name" class="control-label">Başlık:</label>
            <input type="text" class="form-control" v-model="model.Title">
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">Başlık:</label>
            <textarea rows="3" type="text" class="form-control" v-model="model.Description"></textarea>
        </div>
        <div class="form-group">
            <label>Duyuru Resmi</label>
            <input type="text" class="form-control" id="roxyFieldAnnouncement" onclick="openCustomRoxy2('#roxyCustomPanel3')" />
        </div>
        <div class="form-group">
            <label>Duyuru Resmi</label>
            <input type="date" class="form-control" v-model="model.CreatedDate" />
        </div>
        <div class="form-group">
            <label>Duyuru Resmi</label>
            <input type="date" class="form-control" v-model="model.EndDate" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
    </div>
    <span class="hidden" id="announcement-info-area" data-seo-url="@ViewBag.SeoUrl"></span>
</div>

<div id="roxyCustomPanel3" style="display: none;">
    <iframe src="/lib/fileman/index.html?integration=custom&txtFieldId=roxyFieldAnnouncement" style="width:100%;height:100%" frameborder="0"></iframe>
</div>

<script src="~/Template/PViews/Company/companyAnnouncement.js"></script>