@using StudentCareerApp.Helpers;

@model List<SCA.Entity.DTO.SocialMediaDto>
    @using SCA.Common;

    @if (Model != null && Model.Count > 0)
    {
    @* SOCIAL MEDIA START *@
    <div class="ts-grid-box widgets ts-social-list-item">
        <h3 class="ts-title">Takipte Kalın!</h3>
        <ul>
            @foreach (var x in Model)
            {
            <li class="ts-@x.SocialMediaType.GetDescription().Split(" ,")[0].Trim()">
                <a href="@x.Url" target="_blank">
                    <i class="fa fa-@x.SocialMediaType.GetDescription().Split(" ,")[1].Trim()"></i>
                    @*<b>@x.FollowerCount</b>*@
                    <span>@x.SocialMediaType.GetDescription().Split(",")[2].Trim()</span>
                </a>
            </li>
            }
        </ul>
    </div>
    @* SOCIAL MEDIA END *@
    }
