@model List<SCA.Entity.SPModels.SPResult.GetCategoryContents>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- post wraper start-->
<section class="block-wrapper mt-15 category-layout-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row" id="category-content-items">
                    <!-- ts-populer-post-box end-->
                    @await Component.InvokeAsync("NewsWith3Columns", Model)
                    <a class="btn btn-primary" id="load-more-button" onclick="isActive = true; $(this).addClass('hidden'); loadMoreContents()"></a>
                </div>
            </div>
            <!-- col end-->
            <div class="col-lg-3">
                <div class="right-sidebar">
                    @await Component.InvokeAsync("PopularContents", new { count = 5 })
                    @await Component.InvokeAsync("PopularCategories")
                    @await Component.InvokeAsync("RecentAndFavorites", new { count = 5 })
                    @await Component.InvokeAsync("Banner", new { url = "#", imagePath = "/images/banner/sidebar-banner1.jpg" })
                </div>
                <!-- right sidebar end-->
            </div>
            <!-- col end-->
        </div>
        <!-- row end-->
    </div>
    <!-- container end-->
</section>
<!-- post wraper end-->
@section Scripts{
<script>
        var offset = 1;
        var isActive = true;
        $(document).ready(function () {
            var id = '@ViewBag.CategoryId';
            window.addEventListener('scroll', function (e) {
                loadMoreContents();
                if(offset % 5 == 0){
                    isActive = false;
                    $("#load-more-button").removeClass("hidden");
                }
            })
        })

        function loadMoreContents() {
             var scrollPercentage = window.scrollY / (document.documentElement.scrollHeight - document.documentElement.clientHeight);
                if (scrollPercentage > 0.9 && isActive) {
                    isActive = false;
                    $.ajax({
                        url: '/Category/GetNewsWith3ColumnsData',
                        data: { id: id, count: 20, offset: offset },
                        type: 'get',
                        success: function (res) {
                            $("#category-content-items").append(res);
                            isActive = true;
                            offset++;
                        }
                    })
                }
        }
</script>
}

