@model SCA.Common.Result.ServiceResult
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- post wraper start-->
<section class="block-wrapper mt-15 category-layout-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <!-- ts-populer-post-box end-->
                @await Component.InvokeAsync("NewsWith3Columns", Model.Data as List<SCA.Entity.SPModels.SPResult.GetCategoryContents>)
                <!-- row-->
                <!-- pagination-->
                <div class="ts-pagination text-center mb-20">
                    <ul class="pagination">
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- pagination end-->
            </div>
            <!-- col end-->
            <div class="col-lg-3">
                <div class="right-sidebar">
                    @await Component.InvokeAsync("PopularContents", new { count = 5 })
                    @await Component.InvokeAsync("PopularCategories")
                    @await Component.InvokeAsync("RecentAndFavorites", new { count = 5 })
                    @await Component.InvokeAsync("Banner", new { url = "#", imagePath = "/images/banner/sidebar-banner1.jpg" })
                </div>
                <!-- right sidebar end-->
            </div>
            <!-- col end-->
        </div>
        <!-- row end-->
    </div>
    <!-- container end-->
</section>
<!-- post wraper end-->
