<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/AdminFiles/Template/assets/img/ogencikariyeri.jpg">
    <title>Öğrenci Kariyeri Admin</title>
    <link href="~/AdminFiles/Template/dist/css/pages/login-register-lock.css" rel="stylesheet" />
    <link href="~/AdminFiles/Template/dist/css/style.min.css" rel="stylesheet" />

    <script src="~/AdminFiles/Scripts/angular.min.js"></script>
    <script src="~/AdminFiles/Template/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>

</head>

<body class="skin-default card-no-border">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Öğrenci Kariyeri</p>
        </div>
    </div>
    <section id="wrapper" ng-app="MyApp" ng-controller="authController">
        <div class="login-register" style="background-image:url(../../AdminFiles/Template/assets/images/background/login-register.jpg);">
            <div class="login-box card">
                <div class="card-body">
                    <div id="loginform" >
                        <h3 class="text-center m-b-20">Giriş Yap</h3>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input ng-disabled="showSaveLoading" class="form-control" type="text" ng-model="userModel.username" id="username" required="" placeholder="Kullanıc Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input ng-disabled="showSaveLoading" class="form-control" type="password" ng-model="userModel.password" id="password" required="" placeholder="Kullanıcı Şifre">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="d-flex no-block align-items-center">
                                    <div class="custom-control custom-checkbox">
                                        <input ng-disabled="showSaveLoading" type="checkbox" class="custom-control-input" ng-model="userModel.RememberMe" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Beni Hatırla</label>
                                    </div>
                                    <div   class="ml-auto">
                                        <button ng-disabled="showSaveLoading" class="btn btn-block btn-lg btn-info btn-rounded">Şifremi Unuttum</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info btn-rounded" ng-disabled="showSaveLoading" ng-click="SignIn()" id="SignIn">
                                    Giriş Yap <span ng-show="showSaveLoading"><i class="fa fa-spinner fa-spin"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                                @*<div class="social">
                                        <button class="btn  btn-facebook" data-toggle="tooltip" title="Login with Facebook"> <i aria-hidden="true" class="fab fa-facebook-f"></i> </button>
                                        <button class="btn btn-googleplus" data-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="fab fa-google-plus-g"></i> </button>
                                    </div>*@
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            @*<div class="col-sm-12 text-center">
                                    Don't have an account? <a href="pages-register.html" class="text-info m-l-5"><b>Sign Up</b></a>
                                </div>*@
                        </div>
                    </div>
                    <div id="recoverform">
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <h3>Recover Password</h3>
                                <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required="" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <link href="~/AdminFiles/Content/toastr.min.css" rel="stylesheet" />

    <script src="~/AdminFiles/Scripts/toastr.min.js"></script>
    <link href="~/AdminFiles/css/font-awesome.css" rel="stylesheet" />

    <script src="~/AdminFiles/Template/assets/node_modules/popper/popper.min.js"></script>
    <script src="~/AdminFiles/Template/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });

    </script>

    <script>



        var app = angular.module("MyApp", []);

        app.controller("authController", function ($scope, $http) {
            "use strict";

            $scope.userModel = {};
            $scope.showSaveLoading = false;

            $scope.SignIn = function () {
                if ($scope.userModel.username !== undefined && $scope.userModel.username !== "" && $scope.userModel.username !== null) {
                    if ($scope.userModel.password !== undefined && $scope.userModel.password !== "" && $scope.userModel.password !== null) {
                        $scope.showSaveLoading = true;
                        postLogin();
                    } else {
                        toastr.warning("Kullanıcı Şifre Boş Geçilemez", "Uyarı", {
                            "fadeIn": 100,
                            "fadeOut": 100,
                            "timeOut": 3000,
                            "extendedTimeOut": 1000
                        });
                    }
                } else {
                    toastr.warning("Kullanıcı Adı/Email Boş Geçilemez", "Uyarı", {
                        "fadeIn": 100,
                        "fadeOut": 100,
                        "timeOut": 3000,
                        "extendedTimeOut": 1000
                    });
                }
            }

            function postLogin() {
                $http(userPostModel()).then(function (res) {
                    if (res.data.resultCode == 200) {
                        localStorage.setItem("token", res.data.data.token);
                        localStorage.setItem("nameSurname", res.data.data.name + " " + res.data.data.surname);
                        localStorage.setItem("roleTypeId", res.data.data.roleTypeId);
                        window.location.href = "/admin/definitions/category"
                        toastr.warning(res.data.message, "Bilgi", {
                            "fadeIn": 100,
                            "fadeOut": 100,
                            "timeOut": 3000,
                            "extendedTimeOut": 1000
                        });
                    } else if (res.data.resultCode == 400) {
                        toastr.warning(res.data.message, "Hata", {
                            "fadeIn": 100,
                            "fadeOut": 100,
                            "timeOut": 3000,
                            "extendedTimeOut": 1000
                        });
                    }
                    $scope.showSaveLoading = false;
                });
            }

            var Headers = {
                "Content-Type": "application/json"
            };
            var userPostModel = function () {
                return {
                    method: 'post',
                    url: "https://localhost:44308/api/Auth/token",
                    headers: Headers,
                    data: $scope.userModel
                };
            };

        });


    </script>
</body>

</html>

