


@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@{
    var a = 1;

}
    <head>
        <link href="~/Template/AngularComponents/treeselect/vue-treeselect.css" rel="stylesheet" />
        <link href="~/Template/assets/node_modules/switchery/dist/switchery.css" rel="stylesheet" />
        <script src="~/Template/AngularComponents/treeselect/vue.js"></script>
        <script src="~/Template/AngularComponents/treeselect/vue-treeselect.js"></script>
        <script src="~/Template/AngularComponents/treeselect/index.js"></script>
        <script src="~/ScriptController/assayController.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="~/Template/ckeditor/samples/toolbarconfigurator/lib/codemirror/codemirror.js"></script>
        <link href="~/Template/ckeditor/samples/toolbarconfigurator/lib/codemirror/codemirror.css" rel="stylesheet" />

    </head>


<div class="page-wrapper" ng-app="MyApp" ng-controller="assayController">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Makale Yönetimi</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Makale Yönetimi</a></li>
                        <li class="breadcrumb-item active">Makale  Yönetimi</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" ng-click="onClickDashboard()"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">DashBoard</span></a> </li>
                            <li class="nav-item" ng-click="onClickContent" ()> <a class="nav-link" data-toggle="tab" href="#profile" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Makale Ekle</span></a> </li>
                        </ul>
                        <div class="tab-content tabcontent-border">

                            <div class="tab-pane active" id="home" role="tabpanel">
                                <br />
                                <div class="row" ng-model="rowdata">
                                    <!-- Column -->
                                    <div class="col-lg-3 col-md-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row p-t-10 p-b-10">
                                                    <!-- Column -->
                                                    <div class="col p-r-0">
                                                        <h1 class="font-light" ng-bind="contentDashboard[0].quantity"></h1>
                                                        <h6 class="text-muted">Tolam Test</h6>
                                                    </div>
                                                    <!-- Column -->
                                                    <div class="col text-right align-self-center">
                                                        <div data-label="{{contentDashboard[0].percent}}%" class="css-bar m-b-0 css-bar-primary css-bar-20"><i class="mdi mdi-account-circle"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Column -->
                                    <!-- Column -->
                                    <div class="col-lg-3 col-md-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row p-t-10 p-b-10">
                                                    <!-- Column -->
                                                    <div class="col p-r-0">
                                                        <h1 class="font-light" ng-bind="contentDashboard[1].quantity"></h1>
                                                        <h6 class="text-muted">Yayınlanmış</h6>
                                                    </div>
                                                    <!-- Column -->
                                                    <div class="col text-right align-self-center">
                                                        <div data-label="{{contentDashboard[1].percent}}%" class="css-bar m-b-0 css-bar-danger css-bar-20"><i class="mdi mdi-briefcase-check"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Column -->
                                    <!-- Column -->
                                    <div class="col-lg-3 col-md-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row p-t-10 p-b-10">
                                                    <!-- Column -->
                                                    <div class="col p-r-0">
                                                        <h1 class="font-light" ng-bind="contentDashboard[2].quantity"></h1>
                                                        <h6 class="text-muted">Taslak</h6>
                                                    </div>
                                                    <!-- Column -->
                                                    <div class="col text-right align-self-center">
                                                        <div data-label="{{contentDashboard[2].percent}}%" class="css-bar m-b-0 css-bar-warning css-bar-40"><i class="mdi mdi-star-circle"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Column -->
                                    <!-- Column -->
                                    <div class="col-lg-3 col-md-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row p-t-10 p-b-10">
                                                    <!-- Column -->
                                                    <div class="col p-r-0">
                                                        <h1 class="font-light" ng-bind="contentDashboard[3].quantity"></h1>
                                                        <h6 class="text-muted">Yayınlanmamış</h6>
                                                    </div>
                                                    <!-- Column -->
                                                    <div class="col text-right align-self-center">
                                                        <div data-label="{{contentDashboard[3].percent}}%" class="css-bar m-b-0 css-bar-info css-bar-60"><i class="mdi mdi-receipt"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Column -->
                                </div>
                                <br />
                                <br />

                                <div class="row">
                                    <div class="col-lg-12">

                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Başlangıç Tarihi</label>
                                                    <input id="startDate" type="text" class="form-control" placeholder="dd.mm.yyyy" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Bitiş Tarihi</label>
                                                    <input id="endDate" type="text" class="form-control" placeholder="dd.mm.yyyy" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Makale Kategori</label>
                                                    <input type="hidden" id="searhCategoryIds" />
                                                    <treeselect v-props-options="options" v-props-field="'searhCategoryIds'" v-props-multiple="true" v-props-value="value" watch-depth="value"></treeselect>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label><span></span></label>
                                                    <button ng-click="shoShortListAssay()" type="button" class="btn btn-primary">Ara</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Makaleler Listesi</h4>
                                                <h6 class="card-subtitle">Makale Sayısı : <code><span ng-bind="assayList.length"></span></code></h6>
                                                <div class="table-responsive">
                                                    <div class="center" ng-show="showTable">
                                                        <span><i class="fa fa-spinner fa-spin"></i></span>
                                                    </div>
                                                    <table ng-show="!showTable" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Başlık</th>
                                                                <th>Yazar</th>
                                                                <th>Yayınlanma Durumu</th>
                                                                <th>Okunma</th>
                                                                <th>Oluşturma Tarihi</th>
                                                                <th>Yayınlanma Tarihi</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="x in assayList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                                                <td ng-show="false" ng-bind="x.id"></td>
                                                                <td ng-bind="x.header"></td>
                                                                <td ng-bind="x.writer"></td>
                                                                <td ng-bind="x.publishStateType"></td>
                                                                <td ng-bind="x.readCount"></td>
                                                                <td ng-bind="x.createdDate"></td>
                                                                <td ng-bind="x.publishDate"></td>
                                                                <td>
                                                                    <div class="btn-group">
                                                                        <button ng-click="showContentDetail(x)" type="button" class="btn btn-primary">Aç</button>
                                                                        <button data-toggle="modal" @*data-target="#addSubCategoryModal" *@ type="button" class="btn btn-primary">Diğer</button>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div ng-disabled="showSaveLoading" class="tab-pane  p-20" id="profile" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="col-md-10 p-0">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Makale Başlığı</label>
                                                        <input type="text" class="form-control" ng-model="assayCreate.Header">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Seo Link</label>
                                                        <input type="text" id="seoUrl" ng-disabled="true" class="form-control" placeholder="Seo Link" value="{{RegexSeo(assayCreate.Header)}}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Makale Başlık Resim</label>
                                                        <input type="text" class="form-control" id="roxyField" onclick="openCustomRoxy2('#roxyCustomPanel2')" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Yayınlanma Tarihi</label>
                                                        <input id="publishDate" type="text" class="form-control" placeholder="dd.mm.yyyy" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Yayınlanma Saati</label>
                                                        <input id="publishHour" type="text" class="form-control" placeholder="HH:mm" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Yayınlansın mı?</label>
                                                        <br />
                                                        <input id="toggleHeadLine" type="checkbox" ng-checked="{{assayCreate.isHeadLine}}" class="js-switch" data-color="#00c292" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Manşet mi?</label>
                                                        <br />
                                                        <input id="toggleManset" type="checkbox" ng-checked="{{assayCreate.isManset}}" class="js-switch" data-color="#00c292" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Ana Menü?</label>
                                                        <br />
                                                        <input id="toggleMainMenu" type="checkbox" ng-checked="{{assayCreate.isMainMenu}}" class="js-switch" data-color="#00c292" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Ana Menüde Sabitlensin mi?</label>
                                                        <br />
                                                        <input id="toggleMainMenu" type="checkbox" ng-checked="{{assayCreate.isConstantMainMenu}}" class="js-switch" data-color="#00c292" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Onaya Gönderilsin mi?</label>
                                                        <br />
                                                        <input id="toggleMainMenu" type="checkbox" ng-checked="{{assayCreate.isSendConfirm}}" class="js-switch" data-color="#00c292" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="control-label">Ekinlikler</label>
                                                        <select id="roletypeid" class="form-control custom-select" ng-model="assayCreate.eventId" name="roletypeid">
                                                            <option ng-repeat="x in events" value="{{x.id}}">{{x.description}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="control-label">Stajlar</label>
                                                        <select id="roletypeid" class="form-control custom-select" ng-model="assayCreate.internId" name="roletypeid">
                                                            <option ng-repeat="x in internList" value="{{x.id}}">{{x.description}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="control-label">Görünürlük</label>
                                                        <select id="roletypeid" class="form-control custom-select" ng-model="assayCreate.visibleId" name="roletypeid">
                                                            <option ng-repeat="x in visibleList" value="{{x.id}}">{{x.description}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 text-right">
                                            <img class="img-responsive newsImage" id="img_roxyField" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Makale Kategori</label>
                                            <input type="hidden" id="categoryIds" />
                                            <treeselect v-props-options="options" v-props-field="'categoryIds'" v-props-multiple="true" v-props-value="value" watch-depth="value"></treeselect>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Makale Etiket</label>
                                            <input type="hidden" value="" id="multipleTags" />
                                            <treeselect v-props-options="tagOptions" v-props-field="'multipleTags'" v-props-is-insertable="true" v-props-multiple="true" v-props-value="value" watch-depth="value"></treeselect>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea id="ckeditorForAssayContent"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <button ng-disabled="showSaveLoading" ng-click="postAssay()" class="btn btn-success">
                                            <span ng-show="showSaveLoading"><i class="fa fa-spinner fa-spin"></i></span>
                                            Kaydet
                                        </button>
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-skin="skin-default" class="default-theme working">1</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-red" class="red-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-blue" class="blue-theme">4</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-megna" class="megna-theme">6</a></li>
                                <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                                <li><a href="javascript:void(0)" data-skin="skin-default-dark" class="default-dark-theme ">7</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-red-dark" class="red-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-megna-dark" class="megna-dark-theme ">12</a></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><b>Chat option</b></li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/Template/assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/Template/assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/Template/assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/Template/assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/Template/assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/Template/assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/Template/assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/Template/assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
    </div>

</div>

<input class="hidden" id="selectedCategoryId" />


@section Styles{
    <style>
        label.col-md-4 {
            padding: 0;
        }

        .newsImage {
            border-radius: 10px;
            box-shadow: 0px 0px 5px 0px;
            margin: 10px;
            margin-right: 0;
        }

        label {
            font-weight: 800;
        }
    </style>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            CKEDITOR.replace("ckeditorForAssayContent");
            $("#publishDate").datepicker({
                format: 'dd.mm.yyyy'
            });
            $("#publishHour").clockpicker({
                placement: 'top',
                align: 'left',
                autoclose: true,
                'default': 'now'
            });
            $("#endDate").datepicker({
                format: 'dd.mm.yyyy'
            });
            $("#startDate").datepicker({
                format: 'dd.mm.yyyy'
            })
        });
    </script>
    <script src="~/Template/assets/node_modules/styleswitcher/jQuery.style.switcher.js"></script>


}

<style>
    .ulrow {
        list-style-type: none;
        padding-left: 0;
        margin-left: 15px;
    }

    .closeBtn {
    }

    .show-grid [class^=col-] {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #eee;
        background-color: rgba(86,61,124,.15);
        border: 1px solid #ddd;
        border: 1px solid rgba(86,61,124,.2);
    }
</style>
