@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@{
    var a = 1;

}
<head>
    <link href="~/Template/AngularComponents/treeselect/vue-treeselect.css" rel="stylesheet" />
    <link href="~/Template/assets/node_modules/switchery/dist/switchery.css" rel="stylesheet" />
    <script src="~/Template/AngularComponents/treeselect/vue.js"></script>
    <script src="~/Template/AngularComponents/treeselect/vue-treeselect.js"></script>
    <script src="~/Template/AngularComponents/treeselect/index.js"></script>
    <script src="~/ScriptController/assayController.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="~/Template/ckeditor/samples/toolbarconfigurator/lib/codemirror/codemirror.js"></script>
    <link href="~/Template/ckeditor/samples/toolbarconfigurator/lib/codemirror/codemirror.css" rel="stylesheet" />

</head>

<div class="page-wrapper" ng-app="MyApp" ng-controller="assayController" ng-init="init(@ViewBag.assayId)">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Makale Yönetimi</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Makale Yönetimi</a></li>
                        <li class="breadcrumb-item active">Makale  Yönetimi</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div ng-disabled="showSaveLoading" class="tab-pane  p-20" id="AssayCreate" role="tabpanel">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>{{myText}}</h1>
                                    <div class="col-md-10 p-0">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Makale Başlığı</label>
                                                    <input type="text" class="form-control" ng-model="assayCreate.header">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Seo Link</label>
                                                    <input type="text" id="seoUrl" ng-disabled="true" class="form-control" placeholder="Seo Link" value="{{RegexSeo(assayCreate.header)}}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Makale Başlık Resim</label>
                                                    <input type="text" class="form-control" ng-model="{{assayCreate.imagePath}}" id="roxyField" onclick="openCustomRoxy2('#roxyCustomPanel2')" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Yayınlanma Tarihi</label>
                                                    <input id="publishDate" type="text" class="form-control" placeholder="dd.mm.yyyy" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Yayınlanma Saati</label>
                                                    <input id="publishHour" type="text" class="form-control" placeholder="HH:mm" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Yayınlansın mı?</label>
                                                    <br />
                                                    <input id="togglwPublish" type="checkbox" ng-checked="{{assayCreate.isHeadLine}}" class="js-switch" data-color="#00c292" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Manşet mi?</label>
                                                    <br />
                                                    <input id="toggleManset" type="checkbox" ng-checked="{{assayCreate.isManset}}" class="js-switch" data-color="#00c292" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Ana Menü?</label>
                                                    <br />
                                                    <input id="toggleMainMenu" type="checkbox" ng-checked="{{assayCreate.isMainMenu}}" class="js-switch" data-color="#00c292" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Ana Menüde Sabitlensin mi?</label>
                                                    <br />
                                                    <input id="toggleisConstantMainMenu" type="checkbox" ng-checked="{{assayCreate.isConstantMainMenu}}" class="js-switch" data-color="#00c292" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Onaya Gönderilsin mi?</label>
                                                    <br />
                                                    <input id="toggleisSendConfirm" type="checkbox" ng-checked="{{assayCreate.isSendConfirm}}" class="js-switch" data-color="#00c292" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Ekinlikler</label>
                                                    <select id="roletypeid" class="form-control custom-select" ng-model="assayCreate.eventId" name="eventId">
                                                        <option ng-repeat="x in events" value="{{x.id}}">{{x.description}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Stajlar</label>
                                                    <select id="roletypeid" class="form-control custom-select" ng-model="assayCreate.internId" name="internId">
                                                        <option ng-repeat="x in internList" value="{{x.id}}">{{x.description}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Görünürlük</label>
                                                    <select id="roletypeid" class="form-control custom-select" ng-model="assayCreate.visibleId" name="visibleId">
                                                        <option ng-repeat="x in visibleList" value="{{x.id}}">{{x.description}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <img class="img-responsive newsImage" id="img_roxyField" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Makale Kategori</label>
                                        <input type="hidden" id="categoryIds" />
                                        <treeselect v-props-options="options" v-props-field="'categoryIds'" v-props-multiple="true" v-props-value="value" watch-depth="value"></treeselect>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Makale Etiket</label>
                                        <input type="hidden" value="" id="multipleTags" />
                                        <treeselect v-props-options="tagOptions" v-props-field="'multipleTags'" v-props-is-insertable="true" v-props-multiple="true" v-props-value="value" watch-depth="value"></treeselect>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea id="ckeditorForAssayContent"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <button ng-disabled="showSaveLoading" ng-click="postAssay()" class="btn btn-success">
                                        <span ng-show="showSaveLoading"><i class="fa fa-spinner fa-spin"></i></span>
                                        Kaydet
                                    </button>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-skin="skin-default" class="default-theme working">1</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-red" class="red-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-blue" class="blue-theme">4</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-megna" class="megna-theme">6</a></li>
                                <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                                <li><a href="javascript:void(0)" data-skin="skin-default-dark" class="default-dark-theme ">7</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-red-dark" class="red-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-megna-dark" class="megna-dark-theme ">12</a></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><b>Chat option</b></li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/Template/assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/Template/assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/Template/assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/Template/assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/Template/assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/Template/assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/Template/assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/Template/assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
    </div>

</div>

<input class="hidden" id="selectedCategoryId" />


@section Styles{
    <style>
        label.col-md-4 {
            padding: 0;
        }

        .newsImage {
            border-radius: 10px;
            box-shadow: 0px 0px 5px 0px;
            margin: 10px;
            margin-right: 0;
        }

        label {
            font-weight: 800;
        }
    </style>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            CKEDITOR.replace("ckeditorForAssayContent");
            $("#publishDate").datepicker({
                format: 'dd.mm.yyyy'
            });
            $("#publishHour").clockpicker({
                placement: 'top',
                align: 'left',
                autoclose: true,
                'default': 'now'
            });
            $("#endDate").datepicker({
                format: 'dd.mm.yyyy'
            });
            $("#startDate").datepicker({
                format: 'dd.mm.yyyy'
            })
        });
    </script>
    <script src="~/Template/assets/node_modules/styleswitcher/jQuery.style.switcher.js"></script>


}

<style>
    .ulrow {
        list-style-type: none;
        padding-left: 0;
        margin-left: 15px;
    }

    .closeBtn {
    }

    .show-grid [class^=col-] {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #eee;
        background-color: rgba(86,61,124,.15);
        border: 1px solid #ddd;
        border: 1px solid rgba(86,61,124,.2);
    }
</style>
