@model List<SCA.Entity.Model.BasicPages.BasicPageForMenu>

@if (!Model.Equals(null))
{
    foreach (var x in Model)
    {
        <li>
            <a href="@Url.Action("BasicPage", "Information", new { basicSeoUrl = x.SeoUrl})">@x.Title</a>
        </li>
    }
    <li>
        <a class="fa fa-arrow-circle-right" href="https://play.google.com/store/apps/details?id=com.tf.ogrencikariyeri">&nbsp;Google Playstore</a>
    </li>
    <li><a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1115637318&amp;mt=8"><i class="fa fa-arrow-circle-right"></i>&nbsp;Apple Store</a></li>
}