@model List<SCA.Entity.DTO.ContentForHomePageDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- block post area start-->
<section class="block-wrapper mt-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 pr-0">
                <div class="ts-overlay-style featured-post featured-post-style">
                    <div class="item" style="background-image:url(images/news/travel/travel3.jpg)">
                        <a class="post-cat ts-orange-bg" href="#">Travel</a>
                        <div class="overlay-post-content">
                            <div class="post-content">

                                <h2 class="post-title lg">
                                    <a href="#">Clothing and Accessories for the Fashionable Crypto Trader</a>
                                </h2>
                                <ul class="post-meta-info">
                                    <li>
                                        <i class="fa fa-clock-o"></i>
                                        March 21, 2019
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-comments"> </i> Comments
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--/ Featured post end -->
                    </div>
                </div>
                <!-- ts overlay end-->
            </div>
            <!-- col end-->
            <div class="col-lg-4 ts-grid-style-3 featured-post p-1">
                <div class="ts-overlay-style ">
                    <div class="item" style="background-image: url(images/news/fashion/fashion5.jpg);">
                        <a class="post-cat ts-pink-bg" href="#">Fashion</a>
                        <div class="overlay-post-content">
                            <div class="post-content">

                                <h3 class="post-title md">
                                    <a href="#">20 More Crypto Adoption Cases Throughout the World</a>
                                </h3>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- end item-->
                </div>
                <!-- ts overly end-->
                <div class="ts-overlay-style">
                    <div class="item" style="background-image: url(images/news/sports/sports2.jpg);">
                        <a class="post-cat ts-green-bg" href="#">Sports</a>
                        <div class="overlay-post-content">
                            <div class="post-content">

                                <h3 class="post-title md">
                                    <a href="#">Sports And Altcoins Signaling Bearish Continuation</a>
                                </h3>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- end item-->
                </div>
                <!-- ts overly end-->
            </div>
        </div>
    </div>
    <!-- container end-->
</section>
<!-- block area end-->
<!-- post wraper start-->
<section class="block-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                @await Component.InvokeAsync("MostPopularItems", Model.OrderByDescending(x=>x.ReadCount).Take(6).ToList())
                @await  Component.InvokeAsync("WatchNow", Model.Take(3).ToList())
                @await  Component.InvokeAsync("HotTopics", Model.OrderByDescending(x=>x.PublishDate).Take(5).ToList())
            </div>
            <div class="col-lg-3">
                <div class="right-sidebar">
                    @await  Component.InvokeAsync("SocialMedia")
                    @await  Component.InvokeAsync("PopularContents")
                    @await  Component.InvokeAsync("PopularCategories")
                    @await  Component.InvokeAsync("NewsletterForm")
                </div>
            </div>
            <!-- col end-->
        </div>
        <!-- row end-->
    </div>
    <!-- container end-->
</section>
<!-- post wraper end-->
@await  Component.InvokeAsync("NewsWithSlider", Model.Where(x=>x.ReadCount > 50).OrderBy(x=>x.ReadCount).ToList())
<!-- post wraper end-->
<section class="block-wrapper mt-15 xs-mb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                @await  Component.InvokeAsync("NewsWith2Columns", Model)
            </div>
            <div class="col-lg-3">
                <div class="right-sidebar">

                    <div class="widgets widget-banner">
                        <a href="#">
                            <img class="img-fluid" src="images/banner/sidebar-banner4.jpg" alt="">
                        </a>
                    </div>
                    <!-- widgets end-->
                    <div class="post-list-item widgets">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation">
                                <a class="active" href="#home" aria-controls="home" role="tab" data-toggle="tab">
                                    <i class="fa fa-clock-o"></i>
                                    Recent
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                                    <i class="fa fa-heart"></i>
                                    Favorites
                                </a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active ts-grid-box post-tab-list" id="home">
                                <div class="post-content media">
                                    <img class="d-flex sidebar-img" src="images/news/sports/sports2.jpg" alt="">
                                    <div class="media-body">
                                        <span class="post-tag">
                                            <a href="#" class="green-color"> sports</a>
                                        </span>
                                        <h4 class="post-title">
                                            <a href="">18 month old shoots himself by gun </a>
                                        </h4>
                                    </div>
                                </div>
                                <!--post-content end-->
                                <div class="post-content media ">
                                    <img class="d-flex sidebar-img" src="images/news/tech/tech4.jpg" alt="">
                                    <div class="media-body">
                                        <span class="post-tag">
                                            <a href="#" class="yellow-color"> Technology</a>
                                        </span>
                                        <h4 class="post-title">
                                            <a href="">Beats did announce something today</a>
                                        </h4>
                                    </div>
                                </div>
                                <!--post-content end-->
                                <div class="post-content media">
                                    <img class="d-flex sidebar-img" src="images/news/sports/sports3.jpg" alt="">
                                    <div class="media-body">
                                        <span class="post-tag">
                                            <a href="#" class="blue-color"> Lifestyle</a>
                                        </span>
                                        <h4 class="post-title">
                                            <a href="">18 month old shoots himself by gun </a>
                                        </h4>
                                    </div>
                                </div>
                                <!--post-content end-->
                                <div class="post-content media">
                                    <img class="d-flex sidebar-img" src="images/news/fashion/fashion4.jpg" alt="">
                                    <div class="media-body">
                                        <span class="post-tag">
                                            <a href="#" class="pink-color"> Fashion</a>
                                        </span>
                                        <h4 class="post-title">
                                            <a href="">Beats did announce something today</a>
                                        </h4>
                                    </div>
                                </div>
                                <!--post-content end-->
                                <div class="post-content  media">
                                    <img class="d-flex sidebar-img" src="images/news/travel/travel6.jpg" alt="">
                                    <div class="media-body">
                                        <span class="post-tag">
                                            <a href="#" class="yellow-color"> Travel</a>
                                        </span>
                                        <h4 class="post-title">
                                            <a href="">18 month old shoots himself by gun </a>
                                        </h4>
                                    </div>
                                </div>
                                <!--post-content end-->

                            </div>
                            <!--ts-grid-box end -->

                            <div role="tabpanel" class="tab-pane ts-grid-box post-tab-list" id="profile">
                                <div class="post-content media">
                                    <img class="d-flex sidebar-img" src="images/news/sports/sports2.jpg" alt="">
                                    <div class="media-body">
                                        <span class="post-tag">
                                            <a href="#" class="green-color"> sports</a>
                                        </span>
                                        <h4 class="post-title">
                                            <a href="">Beats did announce something today</a>
                                        </h4>
                                    </div>
                                </div>
                                <!--post-content end-->
                                <div class="post-content media ">
                                    <img class="d-flex sidebar-img" src="images/news/tech/tech4.jpg" alt="">
                                    <div class="media-body">
                                        <span class="post-tag">
                                            <a href="#" class="yellow-color"> Technology</a>
                                        </span>
                                        <h4 class="post-title">
                                            <a href="">18 month old shoots himself by gun </a>
                                        </h4>
                                    </div>
                                </div>
                                <!--post-content end-->
                                <div class="post-content media">
                                    <img class="d-flex sidebar-img" src="images/news/sports/sports2.jpg" alt="">
                                    <div class="media-body">
                                        <span class="post-tag">
                                            <a href="#" class="blue-color"> Lifestyle</a>
                                        </span>
                                        <h4 class="post-title">
                                            <a href="">Beats did announce something today</a>
                                        </h4>
                                    </div>
                                </div>
                                <!--post-content end-->
                                <div class="post-content media">
                                    <img class="d-flex sidebar-img" src="images/news/fashion/fashion4.jpg" alt="">
                                    <div class="media-body">
                                        <span class="post-tag">
                                            <a href="#" class="pink-color"> Fashion</a>
                                        </span>
                                        <h4 class="post-title">
                                            <a href="">18 month old shoots himself by gun </a>
                                        </h4>
                                    </div>
                                </div>
                                <!--post-content end-->
                                <div class="post-content  media">
                                    <img class="d-flex sidebar-img" src="images/news/travel/travel6.jpg" alt="">
                                    <div class="media-body">
                                        <span class="post-tag">
                                            <a href="#" class="yellow-color"> Travel</a>
                                        </span>
                                        <h4 class="post-title">
                                            <a href="">Beats did announce something today</a>
                                        </h4>
                                    </div>
                                </div>
                                <!--post-content end-->
                            </div>
                            <!--ts-grid-box end -->
                        </div>
                        <!-- tab content end-->
                    </div>
                    <!-- widgets end-->
                    <div class="ts-grid-box widgets tag-list">
                        <h3 class="widget-title">Tags</h3>
                        <ul>
                            <li>
                                <a href="#">Tech</a>
                            </li>
                            <li>
                                <a href="#">Fashion</a>
                            </li>
                            <li>
                                <a href="#">Sports</a>
                            </li>
                            <li>
                                <a href="#">Football</a>
                            </li>
                            <li>
                                <a href="#">Styles</a>
                            </li>
                            <li>
                                <a href="#">Rech</a>
                            </li>
                            <li>
                                <a href="#">Lifestyle</a>
                            </li>
                            <li>
                                <a href="#">Technology</a>
                            </li>
                            <li>
                                <a href="#">Guide</a>
                            </li>
                            <li>
                                <a href="#">Food</a>
                            </li>
                            <li>
                                <a href="#">Animal</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widgets widget-banner">
                        <a href="#">
                            <img src="images/banner/sidebar-banner1.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- row end-->
    </div>
    <!-- container end-->
</section>
<!-- Block wraper end-->
