

<section class="block-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mx-auto">
                <button title="Close (Esc)" type="button" class="mfp-close" style="color:red; right:12px;">×</button>
                <div class="ts-grid-box">
                    <div class="login-page">
                        <h3 class="log-sign-title text-center mb-25">Lütfen giriş yapın</h3>

                        <div class="login-or">
                            <hr class="hr-or">
                            <span class="span-or">veya</span>
                        </div>
                        <h3 class="log-sign-title text-center mb-25">
                            <a href="#" class="openRegisterMagnific">Kayıt Olun</a>
                        </h3>

                        <form role="form" class="loginForm">
                            <div class="form-group">
                                <label for="inputUsernameEmail">Email</label>
                                <input type="email" class="form-control" name="email" id="inputUsernameEmail">
                            </div>
                            <div class="form-group">
                                <label for="inputPassword">Şifre</label>
                                <input type="password" name="password" class="form-control" id="inputPassword">
                            </div>
                            <div class="checkbox pull-right">
                                <label>
                                    <a class="pull-right openForgetMagnific" href="#">Şifrenizi mi unuttunuz?</a>
                                    <br/>
                                    <input type="checkbox">
                                    Beni hatırla...
                                </label>
                            </div>
                            <button type="submit" class="btn btn btn-primary">
                                Giriş Yap
                            </button>
                        </form>
                    </div>
                </div><!-- grid box end -->
            </div>
            <!-- col end-->

        </div>
        <!-- row end-->
    </div>
    <!-- container end-->
</section>

