

<section class="block-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mx-auto">
                <div class="ts-grid-box">
                    <div class="login-page">
                        <h3 class="log-sign-title text-center mb-25">Lütfen giriş yapın <a href="#" class="openRegisterMagnific">Kayıt Ol</a></h3>
                       
                        <div class="login-or">
                            <hr class="hr-or">
                            <span class="span-or">veya</span>
                        </div>

                        <form role="form">
                            <div class="form-group">
                                <label for="inputUsernameEmail">Kullanıcı adı veya Email</label>
                                <input type="text" class="form-control" id="inputUsernameEmail">
                            </div>
                            <div class="form-group">
                                <a class="pull-right" href="#">Şifrenizi mi unuttunuz?</a>
                                <label for="inputPassword">Şifre</label>
                                <input type="password" class="form-control" id="inputPassword">
                            </div>
                            <div class="checkbox pull-right">
                                <label>
                                    <input type="checkbox">
                                    Beni hatırla...
                                </label>
                            </div>
                            <button type="submit" class="btn btn btn-primary">
                                Giriş Yap
                            </button>
                        </form>
                    </div>
                </div><!-- grid box end -->
            </div>
            <!-- col end-->

        </div>
        <!-- row end-->
    </div>
    <!-- container end-->
</section>
