@{
    ViewBag.Title = "Sayfa yönetimi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

    <head>
        <link href="~/Template/dist/css/style.min.css" rel="stylesheet">
        <link href="~/Template/AngularComponents/treeselect/vue-treeselect.css" rel="stylesheet" />
        <link href="~/Template/assets/node_modules/switchery/dist/switchery.css" rel="stylesheet" />
        <script src="~/Template/AngularComponents/treeselect/vue.js"></script>
        <script src="~/Template/AngularComponents/treeselect/vue-treeselect.js"></script>
        <script src="~/Template/AngularComponents/treeselect/index.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
        <script src="~/ScriptController/pagesController.js"></script>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="~/Template/ckeditor/samples/toolbarconfigurator/lib/codemirror/codemirror.js"></script>
        <link href="~/Template/ckeditor/samples/toolbarconfigurator/lib/codemirror/codemirror.css" rel="stylesheet" />
        <script src="~/js/MTBootstrapLazyLoad.js"></script>
    </head>

<body>

    <div class="page-wrapper" id="vue-basic-page">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Sayfa Yönetimi</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Sayfa Yönetimi</a></li>
                            <li class="breadcrumb-item active">Sayfa Yönetimi</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- Row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-pane active" id="home" role="tabpanel">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Sayfa Listesi <button id="popupModal" class="btn btn-default pull-right lazyload showModal" data-size="modal-xl" data-url="/Admin/Pages/AddOrUpdateBasicPage" data-header="<i class='fa fa-plus'></i> Yeni Sayfa"><i class="fa fa-plus"></i> Yeni</button></h4>
                                        <h6 class="card-subtitle">Sayfa Sayısı : <code><span>{{pageList.length}}</span></code></h6>
                                        <h4><input type="text" class="form-control" name="site-search" id="getData" v-model="search" v-on:keydown="filterData()" placeholder="Ara..."></h4>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Sıra</th>
                                                        <th>SeoUrl</th>
                                                        <th>Başlık</th>
                                                        <th>Aktif/Pasif</th>
                                                        <th>Detay</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="x in pageList">
                                                        <td>{{x.orderNo}}</td>
                                                        <td>{{x.seoUrl}}</td>
                                                        <td>{{x.title}}</td>
                                                        <td></td>
                                                        <td>
                                                            <button id="popupModal" class="btn btn-default lazyload showModal" data-size="modal-xl" :data-url="'/Admin/Pages/AddOrUpdateBasicPage?id='+x.id" data-header="<i class='fa fa-plus'></i> Sayfa Düzenle"> Aç</button>
                                                            @*<button ng-click="showDetailPages(x.id)" type="button" class="btn btn-rounded btn-success">Aç</button>*@
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
    </div>

</body>

<script src="~/Template/PViews/BasicPages/index.js"></script>