
    <div class="modal-body">
        <h4>Çerez Politikamız</h4>
        <p>Kişisel Verilerin Korunması Kanunu (KVK Kanunu) 7 Nisan 2016 tarihli ve 29677 sayılı Resmi Gazetede yayımlanmıştır. KVKK, kişisel verileri işlenen gerçek kişilerin Anayasa tarafından da korunan özel hayatın gizliliği de dahil olmak üzere gerçek kişilerin temel hak ve özgürlüklerini korumak ve kişisel verileri işleyen gerçek ve tüzel kişilerin yükümlülüklerini belirlemek için düzenlenmektedir. Bu politikanın amacı, STJ İnsan Kaynakları Bilişim ve Danışmanlık A.Ş.&nbsp;(STJ AŞ)’nin ilgili kişilere ait kişisel verilerin KVKK'ya uyumlu bir şekilde işlenmesini ve korunmasını sağlamak için yönetim talimatları, prosedür şartları ve teknik bir politika oluşturmaktır.</p>

        <p>www.youthall.com sitesinin ve mobil uygulamalarının (birlikte kısaca “<strong>Site</strong>”) tüm hakları STJ İnsan Kaynakları Bilişim ve Danışmanlık Anonim Şirketi’ne (birlikte kısaca “<strong>STJ AŞ</strong>”) aittir. STJ AŞ tüm kullanıcıların üyelik bilgilerini, güvenlik ve gizlilik prensipleri doğrultusunda korumayı hedeflemektedir. STJ AŞ üyelerin Site’yi aşağıdaki Kişisel Verilerin Korunması ve Veri Politikası veya yasalara aykırı olarak kullandığını tespit ederse veya yetkili mercilerce bu konuda bir tespit veya inceleme talebi gelirse, ilgili Üye ve Şirket ile ilgili bilgileri yetkili makamlara bildirmek hakkına sahiptir. Ayrıca benzer bir durumda Kişisel Verilerin Korunması ve Veri Politikası'nda öngörülen diğer tedbirleri alma hakkına da sahiptir. Internet üzerinden iletilen kişisel bilgilerin gizliliği konusunda mutlak bir garanti verilmesinin söz konusu olmadığını, internet üzerinde kişisel bilgilerin iletilirken kullanıcılara mümkün olan en üst düzey tedbir almalarını STJ AŞ tavsiye etmektedir.</p>

        <p><strong>Tanımlar</strong></p>

        <p><strong>Hizmet/Hizmetler:</strong>&nbsp;Üye ve Şirketlerin Kullanıcı Sözleşmesi içerisinde tanımlı olan iş ve işlemlerini gerçekleştirmelerini sağlamak amacıyla STJ AŞ tarafından ortaya konulan uygulamaları ifade eder.</p>

        <p><strong>Kullanıcı/Kullanıcılar</strong>: Site’ye kayıt olarak veya olmayarak erişim sağlayan gerçek ve tüzel kişiler.</p>

        <p><strong>Site:</strong>&nbsp;www.youthall.com alan adı ve alt alan adlarından ulaşılabilen web sitesi ve mobil uygulamalarını ifade eder. Domain ve uygulamalar STJ AŞ’ye aittir.</p>

        <p><strong>Üye: </strong>Kullanıcı Sözleşmesi ile beraber KVKK ve Veri Politikasını kabul eden ve Site’ye üye olup Site’de yer alan içerik, uygulama ve hizmetlerden yararlanan 3308 sayılı Mesleki Eğitim Kanunu ve 07.09.2013 tarihli Resmi Gazetede yayınlanan Milli Eğitim Bakanlığı Ortaöğretim Kurumları Yönetmeliği uyarınca mesleki eğitim yapmak isteyen meslek lisesi öğrencileri ve üniversite öğrenimine devam eden öğrencilerle, mezun statüsüne geçmiş veya öğrenimini devam ettirerenler Üye olabilir</p>

        <p><strong>Şirket: </strong>Kullanıcı Sözleşmesi ile beraber KVKK ve Veri Politikasını kabul eden ve Site’ye üye olup Site’de yer alan içerik, uygulama ve hizmetlerden yararlanan Türkiye Cumhuriyeti kanunlarına göre veya tabi olduğu yabancı hukuk kanunlarına göre kurulmuş ve varlığını sürdüren tüzel kişiliğe sahip şirketlerin, vakıfların, derneklerin ve kooperatiflerin Şirket hesabı olabilir.</p>

        <p><strong>Kişisel Verilerin Korunma Kanunu</strong></p>

        <p>6698 sayılı Kişisel Verilerin Korunması Kanunu (“<strong>KVKK</strong>”) uyarınca, STJ AŞ tarafından Üyelerin ve Şirketlerin kişisel bilgileri aşağıda açıklandığı çerçevede; kaydedilecek, saklanacak, güncellenecek, mevzuatın izin verdiği durumlarda üçüncü kişilere açıklanabilecek / devredilebilecek, sınıflandırılabilecek ve KVKK’da sayılan şekillerde işlenebilecektir.</p>

        <p><strong>Veri Sorumlusu</strong></p>

        <p>6698 sayılı Kişisel Verilerin Korunması Kanunu (“6698 sayılı Kanun”) uyarınca, kişisel verileriniz; veri sorumlusu olarak <strong>STJ İNSAN KAYNAKLARI BİLİŞİM VE DANIŞMANLIK&nbsp;ANONİM ŞİRKETİ&nbsp;</strong>(“STJ AŞ”) tarafından aşağıda açıklanan kapsamda toplanacak ve işlenebilecektir.</p>

        <p><strong>Hangi Amaçla Bilgileriniz Topluyoruz ve İşliyoruz?</strong></p>

        <p>STJ AŞ Site üzerinden kullanıcılarımıza ait verileri genel olarak aşağıdaki amaçlar ile toplayabilecek ve işleyebilecektir:</p>

        <ul>
            <li>
                <p>İş ve Staj bulma gibi özel istihdam bürosu&nbsp;aracılık faaliyetlerimizi gerçekleştirmek,</p>
            </li>
            <li>
                <p>Üye’lerin Özgeçmişini ve/veya profilini, Site üzerinden iş veya&nbsp;staj ilanlarına ve etkinliklere başvuru kabul eden Üye Şirketlere Üye’nin kendi rızası veya Kullanıcı Sözleşmesi’nde belirtilen Otomatik Eşleştirme sistemi ile Site üzerinde&nbsp;aktarmak,</p>
            </li>
            <li>
                <p>Şirketlerin ihtiyaç duyması halinde başvuru yapan Üye’ler arasından seçtiklerine gönderecekleri video mülakat sorularına istinaden Üye’lerin&nbsp;çekecekleri kişisel videolarını mülakat süreçleri için ilgili Şirket'e aktarmak,</p>
            </li>
            <li>
                <p>Şirketlerin ilan başvuruları alma esnasında soracakları sorulara istinaden Üyelerin verecekleri kişisel cevapları ilgili Şirket'e&nbsp;aktarmak,</p>
            </li>
            <li>
                <p>İnsan kaynaklarına yönelik danışmanlık hizmetlerimizi yürütmek,</p>
            </li>
            <li>
                <p>Kullanıcılara kişiselleştirilmiş hizmetler sunmak ve kullanıcı tecrübesini daha kaliteli hale getirerek kullanıcı memnuniyetini arttırmak,</p>
            </li>
            <li>
                <p>Şirketlerin, Üyelerin veya ziyaretçilerin STJ AŞ’ye izin verdiği ölçüde onlarla iletişime geçmek, onları hizmet ve fırsatlardan haberdar etmek,</p>
            </li>
            <li>
                <p>Site’nin teknik açıdan fonksiyonlarını izlemek, gerektiği gibi çalışmasını sağlamak ve çıkabilecek sorunları çözmek,</p>
            </li>
            <li>
                <p>Üyelerin veya ziyaretçilerin Site’mizi daimî ücretsiz kullanabilmeleri için reklam satış amaçları ile kullanmak,</p>
            </li>
            <li>
                <p>Kullanıcı Sözleşmemiz uyarınca sunduğumuz hizmetleri gerçekleştirmek,</p>
            </li>
            <li>
                <p>Elektronik posta ile bülten göndermek ya da tanıtım veya bildirimlerde bulunmak,</p>
            </li>
            <li>
                <p>Şirket, üniversite öğrenci kulüpleri, vakıf, dernek gibi&nbsp;etkinlik daveti gibi etkinlikler için toplu e-posta ve/veya SMS gönderimi ve yürütülmesi,</p>
            </li>
            <li>
                <p>SMS ile tanıtım veya bildirimlerde bulunmak,</p>
            </li>
            <li>
                <p>STJ AŞ ile iş birliği içinde olan üye şirketler tarafından doğrudan pazarlama yapmak,</p>
            </li>
            <li>
                <p>Sizden gelen çağrıları karşılamak ve destek ihtiyaçlarınıza cevap vermek,</p>
            </li>
            <li>
                <p>Güncel ve Ar-Ge aşamasındaki uygulamalarımızın geliştirmek ve yönetimi sürecinde ürünü pazarlamak,</p>
            </li>
            <li>
                <p>Talebiniz doğrultusunda veya sosyal medyada yer alan şikayetlerin olması halinde STJ AŞ hesabınızı incelemek,</p>
            </li>
            <li>
                <p>Verdiğimiz hizmetlere ilişkin bir şikâyet olduğu takdirde söz konusu şikâyeti sonuçlandırmak</p>
            </li>
            <li>
                <p>Kullanıcının kimliğini ifşa etmeden çeşitli istatistiksel değerlendirmeler, veri tabanı oluşturma ve pazar araştırmalarında kullanmak,</p>
            </li>
            <li>
                <p>Şirketler için hizmet satışını artırmak, pazarlama, müşteri memnuniyet analizinin yapılmasını sağlamak</p>
            </li>
        </ul>

        <p>STJ AŞ işbu Kişisel Verilerin Korunması ve Veri Politikası dışında başka verilerin güvenliği, gizliliği, toplanması vb. hususlarda başka politikalar veya prosedürler benimsemiş olabilir. Bu nedenle diğer politika ve hukuki metinleri de incelemenizi tavsiye ederiz.</p>

        <p><strong>İşlenen Kişisel Verilerin Kimlere ve Hangi Amaçla Aktarılabileceği</strong></p>

        <p>Kişisel verilerinizi; iş ortaklarına, hissedarlarına, iştiraklerine, bağlı grup şirketlere ve aracılık/acentelik Kullanım Koşullarını ve Kişisel Verilerin Korunması ve Veri Politikası'nı kabul etmekle, STJ AŞ ile paylaşılmasına rıza göstermiş olduğunuz kişisel verilerinizin, tarafınıza çeşitli avantajların sağlanıp sunulabilmesi amacıyla; toplanmasına, saklanmasına, işlenmesine, kullanılmasına, aktarımına izin vermiş bulunmaktasınız. Bu kişisel verileriniz, aynı amaçlara yönelik olarak; sözleşme ilişkisi içinde olduğumuz yurt içi ve/veya yurt dışındaki üçüncü taraflarla, verilerin bulut sunucu&nbsp;(Amazon Web Server&nbsp;EU Central (Frankfurt)) ortamında saklanması hizmeti aldığımız yurtiçi / yurtdışı&nbsp;kişi ve kurumlarla, stajyer veya tam zamanlı, yarı zamanlı veya günlük veya dönemsel çalışan istihdam etmek amacıyla Site’ye&nbsp;kayıt olan Şirketlerle paylaşılacaktır. Bunun yanında, bu bilgiler sadece size sağlanacak hizmetlerin kusursuz sunulabilmesi, olası gönderilerinizin sağlıklı şekilde teslim edilmesi, telefon, sms ve/veya e-posta yoluyla bildirimlerimizin zamanında ulaştırılabilmesi amacıyla, sözleşme ilişkisi içinde olduğumuz, veri koruması ve güvenliği konusunda bizimle hukuken ve teknik olarak aynı sorumlulukları taşıyan, ilgili mevzuat hükümlerine riayet eden üçüncü kişilerle, yalnızca ihtiyaç durumunda ve gerekli ölçüde paylaşılacaktır.</p>

        <p><strong>Bilgilerinizi Ne Zaman ve Nasıl Topluyoruz?</strong></p>

        <p>Kişisel verileriniz Site’yi&nbsp;kullandığınızda, reklam veya pazarlama ilanlarına giriş/başvuru yaptığınızda, üye veya kayıt olduğunuzda ve çerezlerle yazılı/fiziksel veya elektronik ortamda toplanabilir.</p>

        <p><strong>KVKK’nın 11. Maddesi Gereği&nbsp;Haklarınız</strong></p>

        <ol style="list-style-type:lower-alpha">
            <li>
                <p>işlenip işlenmediğini öğrenme,</p>
            </li>
            <li>
                <p>işlenmişse bilgi talep etme,</p>
            </li>
            <li>
                <p>işlenme amacını ve amacına uygun kullanılıp kullanılmadığını öğrenme,</p>
            </li>
            <li>
                <p>yurt içinde / yurt dışında aktarıldığı 3. kişileri bilme,</p>
            </li>
            <li>
                <p>eksik / yanlış işlenmişse düzeltilmesini isteme,</p>
            </li>
            <li>
                <p>KVKK’nın 7. maddesinde öngörülen şartlar çerçevesinde silinmesini / yok edilmesini isteme,</p>
            </li>
            <li>
                <p>aktarıldığı 3. kişilere yukarıda sayılan (d) ve (e) bentleri uyarınca yapılan işlemlerin bildirilmesini isteme,</p>
            </li>
            <li>
                <p>münhasıran otomatik sistemler ile analiz edilmesi nedeniyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme,</p>
            </li>
            <li value="1">
                <p>kanuna aykırı olarak işlenmesi sebebiyle zarara uğramanız hâlinde zararın giderilmesini talep etme hakkına sahipsiniz.</p>
            </li>
        </ol>

        <p>Bilgilerinizin nasıl işlendiğini ve/veya aktarıldığını ve/veya yukarıdaki şartlar ile ilgili nasıl işlendiğini&nbsp;öğrenmek istiyorsanız&nbsp;<a href="mailto:info@youthall.com?subject=KVKK%20Kanunu%20Gere%C4%9Fi%20Verilerimin%20Nas%C4%B1l%20%C4%B0%C5%9Flendi%C4%9Fini%20%C3%96%C4%9Frenmek%20%C4%B0stiyorum">info@youthall.com</a> eposta adresine yazabilirsiniz.</p>

        <p>Dilerseniz Sultan Selim Mah. Lalegül Sok. Nef 09 Plaza A Blok No:10/36 Kağıthane/ İstanbul TÜRKİYE adresine Ad-Soyad ile beraber ıslak imzalı dilekçenizi/sorunuzu/şikayetinizi alıcı olarak verileriniziden sorumlu STJ İnsan Kaynakları Bilişim ve Danışmanlık A.Ş.'ne gönderebilirsiniz.</p>

        <p>Başvurunuzda yer alan talepleriniz, talebin niteliğine göre en geç otuz gün içinde ücretsiz olarak sonuçlandırılacaktır. Ancak, işlemin Şirket için ayrıca bir maliyeti gerektirmesi hâlinde, Kişisel Verileri Koruma Kurulu tarafından belirlenen tarifedeki ücret alınabilir.</p>

        <p><strong>Size Ait Kişisel Verileri Nasıl Topluyoruz?</strong></p>

        <p><strong>1- Kimlik Bilgisi</strong></p>

        <p>Siteye Üye olarak&nbsp;kayıt olmanız ile beraber “Adınız”, “Soyadınız”, “Doğum Tarihiniz”, (Türkiye Cumhuriyeti vatandaşları için) “T.C. Kimlik Numaranız”, “Doğum Yeriniz”, “Milliyetiniz(Uyruk)”, “Cinsiyetiniz”&nbsp;gibi bilgileri STJ AŞ’ye kendi isteğiniz ile paylaşmaktasınız.</p>

        <p>Siteye Şirket olarak&nbsp;kayıt olarak “Adınız”, “Soyadınız” ve "Elektronik posta adresi" gibi bilgileri STJ AŞ’ye kendi isteğiniz ile paylaşmaktasınız.</p>

        <p>Site’ye Facebook, Linkedin v.b. sosyal ağlarda yer alan hesaplarınız aracılığıyla da isim, soy isim, doğum tarihi, elektronik posta adresi vb. bilgileri girmeden kayıt veya üye olmak mümkündür. İşbu Kişisel Verilerin Korunması ve Veri Politikası kapsamında sosyal ağlar üzerinden hizmetlerimize kayıt veya üye olmayı tercih etmeniz halinde, söz konusu sosyal ağlar tarafından tarafımıza gönderilen verileri işleme, aktarma, saklama yetkilerini STJ AŞ’ye vermiş olursunuz.</p>

        <p><strong>2- İletişim Bilgisi</strong></p>

        <p>Siteye kayıt olmanız ile beraber “Elektronik Posta Adresiniz”, “Adresiniz”, “Yaşadığınız İl ve İlçe”&nbsp;ve “Cep Telefonu” gibi bilgileri STJ AŞ’ye kendi isteğiniz ile paylaşmaktasınız.</p>

        <p><strong>3- Eğitim Bilgisi</strong></p>

        <p>Üye olarak başvuru yaparken şirketlerin potansiyel aday olarak Üye’leri değerlendirebilmeleri için “Okul”, “Okul Bölümü”, “Okula Başladığı ve Bitirdiği/Bitireceği Tarih”, “Not Ortalması”, "Sınıf", “Yabancı Dil Bilgisi ve Seviyesi”, “Kurs ve Ders Bilgileri”, “Katıldığı Seminerler”, “Üniversite Öğrenci Kulüp Bilgisi/Görevi/Çalışma Zamanı” gibi bilgileri STJ AŞ’ye kendi isteğiniz ile paylaşmaktasınız.</p>

        <p><strong>4- İş ve Diğer&nbsp;Bilgiler</strong></p>

        <p>“Çalışma Durumu ve Ünvanı”, “İş Deneyimleri (Şirket İsmi, Çalıştığı Departman, Başlangıç/Bitiş Tarihi, Şehir ve Açıklama” gibi bilgileri STJ AŞ’ye kendi isteğiniz ile paylaşmaktasınız.</p>

        <p><strong>5- Görsel ve İşitsel Veriler</strong></p>

        <p>Kendi isteğiniz ile yüklediğiniz ve/veya diğer izin verilen sosyal ağlar kullanılarak siteye kayıt olarak yüklenilen resimler ile beraber, video mülakat görüntüleri ile ses kayıtlılarını STJ AŞ’ye kendi isteğiniz ile paylaşmaktasınız.</p>

        <p><strong>6- Diğer Bilgiler</strong></p>

        <p>Üye tarafından “Hakkında” bilgisi alanına kendi rızası ile yazdığı açıklama, sürücü belgesi verileri, staj veya iş arama durumu, sigortanın okul tarafından karşılandığına veya karşılanmadığına dair bilgileri, sMatch(otomatik eşleştirme) bilgisi (evet/hayır) ve benzer diğer bilgileri STJ AŞ’ye kendi isteğiniz ile paylaşmaktasınız. &nbsp;</p>

        <p>Üyeler ve Şirketler tarafında, kamuya ifşa etmeyi tercih ettiğiniz ve diğer üyelerin ve şirketlerin ulaşabileceği ve görebileceği şekilde bilgi veya verilerinizi paylaşmanız durumunda tarafınızdan ifşa edilmiş olarak kabul edilir ve istatistiki, reklam veya promosyonel amaçlarla kullanılabilir. İfşa ettiğiniz kişisel verilerinizin 3. kişiler veya başka siteler tarafından kullanıldığı hallerde STJ AŞ’nin herhangi bir sorumluluğu bulunmamaktadır.</p>

        <p><strong>7- Kişisel Veriniz Olmayan ve Otomatik Olarak Topladığımız Bilgiler</strong></p>

        <p>Login ID, IP adresi, log kayıtları ve Üye Şirket tarafından istenilen ek bilgiler, üye olduğu tarih, yaptığı başvurular, siteye login olma sıklığı/zamanları, ios/mobil site/ web site kullanıcısı, güncelleme tarihi, son giriş tarihi, ilk üyelik tarihi, uygulama silindi (evet/hayır), uygulamaların kullanılışı bilgisi (uygulama içerisinde yapılan her hareket ve seçim), ve buna benzer kullandığımız teknolojileri üye, şirket ve ziyaretçilerimizin ihtiyaçlarına uyumlu hale getirmek, teknik aksaklıkları gidermek, teknik altyapımızı denetlemek amacıyla sizin hakkınızda veri toplayabiliriz. Çerezler veya diğer program ve yazımlarımız vasıtasıyla site içi kullanımlarınıza bağlı olarak tıklama sayınız, sekmeleri açma sıklığınız veya ilgi gösterdiğiniz başlıklara ilişkin dijital ortamdaki davranışlarınız hakkında bilgi toplayabiliriz.</p>

        <p><strong>7.1. Cihaz Bilgisi</strong></p>

        <p>Kullandığınız elektronik cihazlar (bilgisayar, diz üstü bilgisayar, tabletler, akıllı telefonlar, akıllı televizyonlar vb.) üzerinden cihazınıza ait sizle eşleştirilemeyecek veriler (örn. konum bilgisi gibi) toplayabiliriz. Mobil uygulamalarımız (applications) veya internet sitemizde yer alan anlık bildirimler (push notifications) gönderebiliriz. Bu mesajlarımızı almak istemiyorsanız cihazınızın veya mobil uygulamanın ayarlarını değiştirerek bu mesajlarımızı reddedebilirsiniz.</p>

        <p><strong>7.2. Çerezler Bilgisi</strong></p>

        <p>Site’ye ait kullanım bilgileriniz, teknik bir iletişim dosyasını (Çerez-Cookie) kullanarak elde edebilir. Bahsi geçen teknik iletişim dosyaları, ana bellekte saklanmak üzere bir internet sitesinin, kullanıcının tarayıcısına (browser) gönderdiği küçük metin dosyalarıdır. Teknik iletişim dosyası bir internet sitesi hakkında durum ve tercihleri saklayarak internetin kullanımını kolaylaştırır. Teknik iletişim dosyası, Site’yi kaç kişinin kullandığını, bir kişinin Site’ye hangi amaçla, kaç kez ziyaret edildiğini ve ne kadar kaldığı hakkında istatistiksel bilgileri elde etmek ve kullanıcılar için özel tasarlanmış kullanıcı sayfalarından dinamik olarak içerik üretilmesine yardımcı olur. Teknik iletişim dosyası, ana bellekten veya elektronik postasından veri veya başkaca herhangi bir kişisel bilgi almak için tasarlanmamıştır. Tarayıcıların pek çoğu başta teknik iletişim dosyasını kabul eder biçimde tasarlanmıştır, ancak kullanıcılar dilerse teknik iletişim dosyasının gelmemesi veya teknik iletişim dosyasının gönderildiğinde ikaz verilmesini sağlayacak biçimde ayarları değiştirebilirler. Üye ve Şirket, işbu ayarları değiştirmediği sürece çerez kullanımına açık onay verdiği kabul edilir.</p>

        <p>Çerez teknolojisini kullanabilir ve bunları cihazınıza yerleştirebiliriz. Çerezleri kabul etmemeniz halinde Site beklediğiniz fonksiyonları gerçekleştirmeyebilir veya aksaklıklar oluşabilir.</p>

        <p>Çerezler üzerinden alınan verileri 3. kişilerle reklam amaçlarıyla paylaşabiliriz.</p>

        <p>Bu kişisel veriler Site’yi kullanım avantajlarından yararlanabilmeniz adına, açık rızanıza istinaden, Gizlilik ve Kişisel Verilerin Korunması Politikası ile belirlenen amaçlar ve kapsam dışında kullanılmamak kaydı ile bilgi güvenliği tedbirleri de alınarak işlenecek ve saklanacaktır.&nbsp;</p>

        <p><strong>Site Üzerinden 3. Kişi İnternet Siteleri veya Mobil Uygulamalara Verilen Linkler</strong></p>

        <p>3. kişilere ait internet sitelerine, portallere veya mobil uygulamalara linkler verebiliriz. Fakat bu sitelerde yer alan veya 3. kişilerin tabi olduğu gizlilik politikalarının uygulanması hususunda hiçbir sorumluluğumuz bulunmamaktadır. 3. kişilere ait internet siteleri veya mobil uygulamalar kapsamındaki gizlilik politikaları işbu Kişisel Verilerin Korunması ve Veri Politikası’ndan farklı olabilir.</p>

        <p><strong>Bilgilerinizin Saklanma Süresi</strong></p>

        <p>STJ AŞ, KVK Kanunu 7. maddesi ve Türk Ceza Kanunu’nun 138. maddesi uyarınca işlediği kişisel verileri yalnızca ilgili mevzuatta öngörülen veya mevzuatta bir süre öngörülmemiş ise kişisel veri işleme amacının gerektirdiği süre kadar muhafaza eder. Tutulan veriler verinin tutulma amacı sona erdikten sonra silinecek olup ortalama olarak 2 yıl belirlenmekle birlikte mevzuatsal olarak daha uzun süre öngörülen veriler mevzuatta belirtildiği süreyle sistemde kalmaya devam edecektir.</p>

        <p>Bu sebeple her bir kişisel veri için ilgili mevzuatta öngörülen veya işlendikleri amaç için gerekli olan süreye ilişkin farklı bir muhafaza süresi geçerli olabilmektedir. Örneğin Vergi Usul Kanunu 253. maddesi uyarınca defter ve vesikalar 5 yıl süre ile muhafaza edilmelidir. Diğer bir örnek ise Ticari İletişim ve Ticari Elektronik İletiler Hakkında Yönetmelik uyarınca, kişisel verilerin pazarlama veya tanıtım amaçları için kullanılacağına ilişkin ilgili kişi onayının geri alındığı durumlarda, kişisel verilerin kayıtları bu tarihten itibaren 1 yıl saklanmalıdır. Ticari elektronik iletinin içeriği ve gönderiye ilişkin diğer her türlü kayıt ise gerektiğinde ilgili bakanlığa sunulmak üzere 3 yıl saklanacaktır.</p>

        <p>Diğer yandan, bir veri birden fazla amaç için de işlenmiş olabilir ve böyle bir durumda ilgili verinin işlenmesine neden olan tüm nedenler ortadan kalktığında ilgili veri silinir, yok edilir veya anonim hale getirilerek muhafaza edilir.</p>

        <p>KVK Kanunu ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olan kişisel veriler, işlenmesini gerektiren sebeplerin ortadan kalkması halinde reysen veya ilgili kişinin talebi üzerine STJ AŞ tarafından, bu verilerin hiçbir şekilde kullanılmayacak ve geri getirilmeyecek şekilde silinmesi, yok edilmesi veya anonim hale getirilmesi gerekmektedir. Kişisel verilerin hukuka uygun olarak yok edilmesi veya anonim hale getirilmesine ilişkin usul ve esaslar KVK Yönetmeliği’nde belirtilecek ilke ve kurallara uygun şekilde yerine getirilecektir.</p>

        <p><strong>Kişisel Verilerin Güvenliği</strong></p>

        <p><strong>STJ AŞ’nin veri güvenliğine ilişkin yükümlülükleri</strong></p>

        <p>KVKK’nın 12. maddesi uyarınca, veri sorumlusu sıfatıyla STJ AŞ’nin veri güvenliğine ilişkin yükümlülükleri şu şekildedir:</p>

        <p>• Kişisel verilerin;</p>

        <ul>
            <li>
                <p>hukuka aykırı işlenmesini önlemek,</p>
            </li>
            <li>
                <p>hukuka aykırı erişimi önlemek,</p>
            </li>
            <li>
                <p>muhafazasını sağlamak,</p>
            </li>
        </ul>

        <p>için her türlü teknik ve idari tedbir almak,</p>

        <ul>
            <li>
                <p>Kuruluşu içinde gerekli denetimleri yapmak veya yaptırmak,</p>
            </li>
            <li>
                <p>Kendisi adına kişisel verileri işleyen kişilerin veya organlarında görev alan yetkililerin görevlerinden ayrılsalar dahi, görevleri sırasında öğrendikleri kişisel verileri kanun hükümlerine aykırı olarak başkasına açıklamaması ve işleme amacı dışında kullanmaması için gerekli önlemleri alır,</p>
            </li>
            <li>
                <p>İşlenen kişisel verilerin hukuka aykırı olarak başkaları tarafından ele geçirilmesi halinde ilgilisine ve Kurul’a bildirmektir.</p>
            </li>
        </ul>

        <p><strong>STJ AŞ’nin veri güvenliğine ilişkin aldığı tedbirler</strong></p>

        <p>Kişisel verilerin güvenliğine ilişkin yükümlülüklerini yerine getirilmesi açısından ve güvenliğin risk teşkil ettiği durumlarda hızlı bir şekilde hareket edilmesi adına, STJ AŞ aşağıda sıralanmış olan tedbirleri alır:</p>

        <ul>
            <li>
                <p>
                    Kişisel verilere hukuka aykırı erişimi engellemek için alınan teknik ve idari tedbirler.<br>
                    Kişisel verinin işlenmesi, aktarılması ve muhafaza edilmesine ilişkin ilgili bölümlerde alınması gereken teknik ve idari tedbirler sayılmıştır. STJ AŞ bu tedbirleri eksiksiz olarak almak ve hukuka aykırı erişimi engellemekle yükümlü olduğu halde; yine de üçüncü kişilerin kişisel verilere hukuka aykırı erişimi söz konusu olmuş ise; kişisel verilerin korunmasına ilişkin ilgili mevzuata ve Kurul kararlarına uygun şekilde ilgililerin zarar görmemesi için teknik ve idari tüm tedbirleri alır.
                </p>
            </li>
            <li>
                <p>
                    Kişisel verilerin korunması konusunda alınan tedbirler ve bunların denetimi.<br>
                    Şirket bünyesinde kullanılmakta olan veri kayıt sistemlerinin KVKK ve ilgili mevzuata uygun şekilde oluşturulduğu ve kullanıldığı periyodik olarak takip edilerek denetlenir ve bu konuda yetkili kılınan kişi veya kurula raporlama yapılır.
                </p>
            </li>
        </ul>

        <p>STJ AŞ, verdiği yetkiye dayanarak onun adına kişisel verileri işleyen gerçek veya tüzel kişileri kişisel verilerin hukuka uygun bir şekilde korunmasına ilişkin bilgilendirmek ve farkındalık yaratmak; aynı zamanda bu kişilerle akdedilen sözleşmeler çerçevesinde kişisel verilerinin hukuka uygun şekilde korunmasına yönelik hükümler belirlemekle yükümlüdür.</p>

        <p><strong>Kişisel verilerin yetkisiz bir şekilde ifşası durumunda alınacak tedbirler</strong></p>

        <p>STJ AŞ, kişisel verilerin yetkisiz bir şekilde ifşasının engellenmesine yönelik tedbirler almakla ve buna ilişkin iç politika oluşturmakla yükümlüdür. Buna ek olarak, söz konusu durumlarda STJ AŞ, veri sorumlusu olarak, kişisel verileri yetkisiz bir şekilde ifşa edilen kişileri ve KVKK Kurulunu bilgilendirmekle yükümlüdür.</p>

        <p>Kullanıcılar ve/veya Üyeler (Gerçek Kişiler) ve/veya Üye Şirketler (Tüzel Şirketler)&nbsp;Site’yi kullanmaya başladıkları andan itibaren kendilerinden toplanan tüm bilgilerin bu Kişisel Verilerin Korunması ve Veri Politikası'nda&nbsp;anlatıldığı gibi, STJ AŞ tarafından kullanılmasını kabul etmiş olurlar. Kullanıcılar ve/veya Üyeler (Gerçek Kişiler) ve/veya Üye Şirketler (Tüzel Şirketler) ilişkin bilgiler tamamen kendilerinin özgür iradeleri ile STJ AŞ’ye sağlanmaktadır. Kullanıcılar ve/veya Üyeler (Gerçek Kişiler) ve/veya Üye Şirketler (Tüzel Şirketler) bu kişisel bilgileri STJ AŞ ‘ye verip vermemekte serbesttirler. Kullanıcılar ve/veya Üyeler (Gerçek Kişiler) ve/veya Üye Şirketler (Tüzel Şirketler) tarafından verilen bilgilerin doğru ve eksiksiz olması kendilerinin sorumluluğundadır. Kullanıcılar ve/veya Üyeler (Gerçek Kişiler) ve/veya Üye Şirketler (Tüzel Şirketler)&nbsp; yanlış, yanıltıcı veya eksik bilgi vermemelidir.</p>

        <p><strong>Üyelik Yaşı</strong></p>

        <p>18 yaşından küçük kullanıcıların verilerini kasten işlememekteyiz.<strong> </strong><strong>SİTE'ye</strong> <strong>13 yaşından küçüklerin kayıt olmaları yasaktır. </strong>İş birliği yaptığımız gerçek ve tüzel kişiler de dahil olmak üzere tüm departmanlarımız çocuklarınızın kişisel verilerinin hassasiyetinin farkında olup bu verilerin korunması hususunda en yüksek mertebede özen göstermekteyiz. 18 yaşından küçük çocuğunuzun kişisel verilerinin bizimle paylaşılması veli veya yasal temsilcinin sorumluluğundadır.</p>

        <p>Eğer bir ebeveyn çocuğunun, kendi rızası olmadan kişisel bilgilerini bizimle paylaştığını fark eder ise bu kişisel bilgileri STJ AŞ üzerinden kendisi silebilir veya bizden talep edebilir.</p>

        <p>Ebeveynlere çocuklarının online aktivitelerinin denetlenmesinde aktif bir rol üstlenmelerini tavsiye ederiz.</p>

        <p><strong>KULLANICI VEYA ÜYELERİN BİLGİLERİNİ </strong><strong>STJ AŞ’YE SUNMA VEYA BU BİLGİLERİN SİTE’DE GÖSTERİLMESİ YA DA BU KİŞİSEL VERİLERİN KORUNMASI VE VERİ POLİTİKASI'NIN&nbsp;VE KULLANICI KOŞULLARI HÜKÜMLERİNDE İZİN VERİLDİĞİ ŞEKİLDE KULLANILMASI İLE İLGİLİ ŞÜPHELERİ VARSA, KULLANICI VE/VEYA ÜYE OLMAMALI, SİTE’Yİ ZİYARET ETMEMELERİ, UYGULAMALARI VEYA HİZMETLERİ KULLANMAMALIDIRLAR, ÜYE İSELER ÜYELİKLERİNİ SONA ERDİRMELİDİRLER.</strong></p>

        <p>Üye olunması ve profil oluşturulması ile Üyeler <strong>Kullanıcı Sözleşmesi hüküm ve koşullarını açık bir şekilde ve isteyerek kabul etmiş ve ayrıca işbu Kişisel Verilerin Korunması ve Veri Politikası'nda&nbsp;belirtildiği şekilde STJ AŞ’nin kişisel bilgileri işleme yöntemini kabul ve onaylamış olurlar. </strong>Yürürlükteki yasalar tarafından “hassas” olarak nitelendirilen bilgileri göndermek tamamen <strong>Üyelerin ve Şirketlerin iradesine bağlıdır</strong>. Üyeler ve Şirketler sundukları <strong>kişisel bilgilerin toplanması ve işlenmesine verdikleri onayı istedikleri zaman işbu Kişisel Verilerin Korunması ve Veri Politikası ve Kullanıcı Sözleşmesi hükümlerine uygun olarak Site’de hesap ayarlarını veya profillerini değiştirerek veya Site üyeliklerini sona erdirerek geri çekebilir veya değiştirebilirler.</strong></p>

        <p>STJ AŞ işbu Kişisel Verilerin Korunması ve Veri Politikası'nı herhangi bir sebepten dolayı bildirimde bulunmaksızın zaman zaman değiştirebilir veya yenileyebilir. STJ AŞ’nin değişiklik yaptığı Kişisel Verilerin Korunması ve Veri Politikası hükümleri Site’de yayınlandığı tarihte yürürlüğe girer. STJ AŞ yenilenen kurallar konusunda Üyeleri uyaramayabilir. Ancak bu durumda Kişisel Verilerin Korunması ve Veri Politikası'nın söz konusu değişiklikleri yansıtan güncellenmiş hali Site’ye yüklenecektir. STJ AŞ Site’de güncellenen Kişisel Verilerin Korunması ve Veri Politikası hakkında Üyelerin bilgi sahibi olmaları ve periyodik olarak gözden geçirmesini tavsiye etmektedir.</p>

        <p>Bu Kişisel Verilerin Korunması ve Veri Politikası'nda açıklanan durumlar hariç olmak üzere, STJ AŞ Üyelerin ve Şirketlerin kişisel bilgilerini kiraya vermez veya satmaz. Talimatları yerine getirmek için (ödeme bilgilerini işleme almak gibi) gerekli durumlar hariç olmak üzere veya Üyelerin ve Şirketlerin ayrıca iznini almadıkça, Üyelerin ve Şirketlerin(şirketlerin kamuya açık bilgiler hariç) profilinde yayınlanmamış veya diğer hizmetlerin kullanımı nedeniyle oluşturulan kişisel bilgiler ifşa edilmez. Bu durum, bilgilerin ifşasının kanaatimizce makul bir şekilde gerekli olduğuna inandığımız şu koşullarda geçersizdir:</p>

        <ol>
            <li>
                <p>hukuk veya cezai mahkeme celpnameleri, mahkeme emirleri ve diğer mecburi ifşaatlar dahil fakat bunlarla sınırlı olmamak üzere yasal gereklilik ve süreçlere uymak;</p>
            </li>
            <li>
                <p>işbu Gizlilik ve Kişisel Verilerin Korunması Politikası veya Kullanıcı Koşullarını yürürlüğe koymak;</p>
            </li>
            <li>
                <p>üçüncü tarafların haklarının ihlali ile ilgili şikayetlere yanıt vermek;</p>
            </li>
            <li>
                <p>Üye hizmet taleplerine yanıt vermek veya</p>
            </li>
            <li>
                <p>STJ AŞ’nin, Hizmetlerin, Üyelerin, Şirketlerinin, Kullanıcıların veya kamu haklarını, mülk veya güvenliğini korumak.</p>
            </li>
        </ol>

        <p>Üçüncü taraflar (örneğin, e-posta hizmet sağlayıcınız) size bizde kaydedilmiş olan kişilerinizdeki bilgileri kendi hizmetlerine yükleme seçeneği verebilir. Kişilerinizi bu şekilde paylaşmayı seçerseniz, üçüncü taraf hizmet sağlayıcınıza, üçüncü tarafın koşulları ve gizlilik politikasında anlatılan şekilde, bu kişi bilgilerini saklama ve ifşa etme bunlara erişme ve kullanma haklarını verirsiniz.</p>

        <p>STJ AŞ aşağıdaki durumlarda Üyelerin ve Şirketlerin kişisel bilgilerini, profil bilgilerini veya bir Üye, Şirket veya Kullanıcı olarak faaliyetlerini ifşa edebilir:</p>

        <ol>
            <li>
                <p>Şüpheli veya fiilen kanuna aykırı eylemlere istinaden soruşturma yapmak, bunları bertaraf etmek veya müdahale etmek veya resmi icra dairelerine yardım etmek;</p>
            </li>
            <li>
                <p>Kullanıcı Sözleşmesini uygulamak, üçüncü tarafların taleplerine veya iddialarına karşı savunma yapmak veya Hizmetin güvenliğini veya bütünlüğünü korumak veya</p>
            </li>
            <li>
                <p>STJ AŞ’nin, Üyelerin, Şirketlerin, STJ AŞ çalışanlarının veya diğer kişilerin haklarını, mülkiyet veya güvenliğini korumak veya tatbik etmek üzere iyi niyetli bir şekilde ifşanın gerekli olduğuna inanır veya bir mahkeme celbi ya da sair yasal işlem ile gerekli olursa.</p>
            </li>
        </ol>

        <p>STJ AŞ Üyelerin ve Şirketlerin üyelikleri faal olduğu sürece veya gerektiği durumlarda Hizmetleri sunmak için, STJ AŞ’ye sunulan kişisel bilgileri muhafaza eder. Bilgileri muhafaza etme eyleminin hukuki yükümlülüklerini yerine getirmek, mevzuat gerekliliklerine uymak, Üyeler ile beraber Şirketler arasındaki anlaşmazlıkları çözmek, dolandırıcılık ve kötüye kullanmayı önlemek ve işbu Kişisel Verilerin Korunması ve Veri Politikası ve Kullanıcı Sözleşmesi uygulamak için haklı nedenlerle gerekli olduğu durumlarda, üyelik sona erse bile Üyelerin ve Şirketlerin kişisel bilgileri muhafaza edilebilir. Emniyet makamlarınca talep edilmesi halinde, STJ AŞ kişisel bilgileri sınırlı bir süre boyunca saklar.</p>

        <p>STJ AŞ, Üye veya Kullanıcılardan ve/veya&nbsp;Şirketlerden temin edilen kişiler bilgileri e-posta/sms vb. aracılığıyla yayın göndermek, bülten göndermek, bildirimlerde bulunmak, ürünler ve hizmet hakkında bilgi vermek, kampanya bilgilerini paylaşmak ve benzeri hizmetlerde bulunmaktadır. STJ AŞ tarafından iletilen işbu ticari elektronik iletileri ve kısa mesajları Üyeler ve Şirketler almak istemiyor ve almayı onaylamıyor ise <a href="mailto:info@youthall.com">info@youthall.com</a> adresine e-posta gönderip veya ayarlar sayfasından gerekli seçenekleri kaldırarak listeden çıkmaları gerekmektedir.</p>

        <p>STJ AŞ Site dahilinde başka sitelere link verebilir, ancak bu STJ AŞ’nin işbu siteler ile herhangi bir bağı olduğu anlamına gelmemektedir. STJ AŞ, link vasıtasıyla erişilen sitelerin gizlilik uygulamaları ve içeriklerine yönelik herhangi bir sorumluluk taşımamaktadır.</p>

        <p><strong>Yürürlük</strong></p>

        <p>İşbu veri politikası yayınlandığı tarihte yürürlüğe girer ve internet sitesinden kaldırılana kadar yürürlükte kalmaya devam eder.</p>

        <p>İnternet Sitesi Kişisel Verilerin Korunması ve Veri Politikamız 15.05.2019 tarihlidir. Politika’nın tümünün veya belirli maddelerinin yenilenmesi durumunda Politika’nın yürürlük tarihi güncellenecektir.</p>

        <p><strong>İletişim Bilgileri</strong></p>

        <p>
            STJ İnsan Kaynakları Bilişim ve Danışmanlık Anonim Şirketi<br>
            <strong>Mersis No:&nbsp;</strong>0781056206100017<br>
            <strong>İletişim Linki: </strong>https://www.youthall.com<br>
            <strong>Adres: </strong>Sultan Selim Mah. Lalegül Sok. Nef 09 Plaza A Blok No:10/36 Kağıthane/ İstanbul - TÜRKİYE
        </p>

        <p>
            <strong>TR: </strong>Herhangi bir sorunuz varsa veya bizimle iletişime geçmeniz gerekiyorsa, <a href="mailto:info@youthall.com?subject=Gizlilik%20ve%20KVKK">info@youthall.com</a>&nbsp;adresinden bize ulaşabilirsiniz.<br>
            <strong>EN:</strong> If you have any questions or need to contact us, we recommend you reach out to <strong><a href="mailto:info@youthall.com?subject=Privacy">info@youthall.com</a>.</strong><br>
            <strong>FR:</strong> Si vous avez des questions ou avez besoin de nous contacter, nous vous recommandons de contacter <strong><a href="mailto:info@youthall.com?subject=Privacy">info@youthall.com</a>.</strong>
        </p>

        <p>&nbsp;</p>
    </div>