
@{
    ViewData["Title"] = "Agent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .featured-section-item {
        background: linear-gradient(45deg, darkred, darkblue);
    }
        .featured-section-item .item {
            box-shadow: -5px 5px 40px 0px black;
        }
</style>


<!-- start blog wrapper -->
<section class="block-wrapper featured-section-item pt-110">
    <div class="container">
        <div class="owl-carousel mb-30" id="featured-slider-4">
            <div class="row">
                <div class="col-lg-6 p-0">

                    <div class="item ts-grid-features-box">
                        <div class="post-content">
                            <a class="post-cat" href="#">Technology</a>
                            <h2 class="post-title ex-lg">
                                <a href="#">Jamp launches board less phone with huge battery in Dubai</a>
                            </h2>

                            <p>
                                Pityful a rethoric question ran over her cheek When she reached the first hills of the Italic Mountains, she had
                            </p>
                            <ul class="post-meta-info">
                                <li>
                                    <i class="fa fa-clock-o"></i>
                                    Jun 21, 2019
                                </li>
                                <li class="active">
                                    <i class="icon-fire"></i>
                                    305
                                </li>
                            </ul>
                        </div>
                        <!-- post content end-->
                    </div>
                    <!-- item end-->
                </div>
                <!-- end col-->
                <div class="col-lg-6 p-0">
                    <div class="featured-post">
                        <div class="item" style="background-image:url(images/news/tech/tech1.jpg);"></div>
                    </div>
                </div>
            </div>
            <!-- row end-->
            <div class="row">
                <div class="col-lg-6 p-0">

                    <div class="item ts-grid-features-box">
                        <div class="post-content">
                            <a class="post-cat ts" href="#">Gadgets</a>
                            <h2 class="post-title ex-lg">
                                <a href="#">The clock is ticking for e-cig companies to block underage users</a>
                            </h2>

                            <p>
                                Pityful a rethoric question ran over her cheek When she reached the first hills of the Italic Mountains, she had
                            </p>
                            <ul class="post-meta-info">
                                <li>
                                    <i class="fa fa-clock-o"></i>
                                    Jun 21, 2019
                                </li>
                                <li class="active">
                                    <i class="icon-fire"></i>
                                    305
                                </li>
                            </ul>
                        </div>
                        <!-- post content end-->
                    </div>
                    <!-- item end-->
                </div>
                <!-- end col-->
                <div class="col-lg-6 p-0">
                    <div class="featured-post">
                        <div class="item" style="background-image:url(images/news/tech/tech4.jpg);"></div>
                    </div>
                </div>
            </div>
            <!-- row end-->
            <div class="row">
                <div class="col-lg-6 p-0">

                    <div class="item ts-grid-features-box">
                        <div class="post-content">
                            <a class="post-cat" href="#">Robotics</a>
                            <h2 class="post-title ex-lg">
                                <a href="#">Jamp launches board less phone with huge battery in Dubai</a>
                            </h2>

                            <p>
                                Pityful a rethoric question ran over her cheek When she reached the first hills of the Italic Mountains, she had
                            </p>
                            <ul class="post-meta-info">
                                <li>
                                    <i class="fa fa-clock-o"></i>
                                    Jun 21, 2019
                                </li>
                                <li class="active">
                                    <i class="icon-fire"></i>
                                    305
                                </li>
                            </ul>
                        </div>
                        <!-- post content end-->
                    </div>
                    <!-- item end-->
                </div>
                <!-- end col-->
                <div class="col-lg-6 p-0">
                    <div class="featured-post">
                        <div class="item" style="background-image:url(images/news/tech/tech5.jpg);"></div>
                    </div>
                </div>
            </div>
            <!-- row end-->
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="ts-overlay-style overlay-heighlight-blue">
                    <div class="item">
                        <div class="ts-post-thumb">
                            <a class="post-cat" href="#">Technology</a>
                            <a href="#">
                                <img class="img-fluid" src="~/images/news/tech/tech1.jpg" alt="">
                            </a>
                        </div>
                        <div class="overlay-post-content">
                            <div class="post-content">
                                <h3 class="post-title">
                                    <a href="#">Tourism in Dubai is booming international tourist most visited place</a>
                                </h3>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- end item-->
                </div>
                <!--ts-overlay-style end -->
            </div>
            <!-- col end-->
            <div class="col-lg-4">
                <div class="ts-overlay-style overlay-heighlight-green">
                    <div class="item">
                        <div class="ts-post-thumb">
                            <a class="post-cat" href="#">Gadgets</a>
                            <a href="#">
                                <img class="img-fluid" src="~/images/news/tech/tech6.jpg" alt="">
                            </a>
                        </div>
                        <div class="overlay-post-content">
                            <div class="post-content">
                                <h3 class="post-title">
                                    <a href="#">The clock is ticking for e-cig companies to block underage users</a>
                                </h3>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- end item-->
                </div>
                <!--ts-overlay-style end -->
            </div>
            <!-- col end-->
            <div class="col-lg-4">
                <div class="ts-overlay-style overlay-heighlight-red">
                    <div class="item">
                        <div class="ts-post-thumb">
                            <a class="post-cat" href="#">Robotics</a>
                            <a href="#">
                                <img class="img-fluid" src="~/images/news/tech/tech5.jpg" alt="">
                            </a>
                        </div>
                        <div class="overlay-post-content">
                            <div class="post-content">
                                <h3 class="post-title">
                                    <a href="#">Tesla just lost its head of global just lost its head finance</a>
                                </h3>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- end item-->
                </div>
                <!--ts-overlay-style end -->
            </div>
            <!-- col end-->
        </div>
    </div>
    <!-- container end-->
</section>
<!-- end  blog wrapper -->
<!-- block wrapper start-->
<section class="block-wrapper p-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="left-sidebar">
                    <div class="widgets single-widget">
                        <h3 class="widget-title">
                            Popular Posts
                        </h3>
                        <div class="post-tab-list">
                            <div class="ts-overlay-style">
                                <div class="item">
                                    <div class="ts-post-thumb">
                                        <a href="#">
                                            <img class="img-fluid" src="~/images/news/tech/tech3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="overlay-post-content">
                                        <div class="post-content">
                                            <h3 class="post-title">
                                                <a href="#">Tourism in Dubai is boom international tourist</a>
                                            </h3>
                                            <ul class="post-meta-info">
                                                <li>
                                                    <i class="fa fa-clock-o"></i>
                                                    March 21, 2019
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ts overlay style end-->
                            <div class="post-content media">
                                <img class="d-flex sidebar-img" src="~/images/news/tech/tech6.jpg" alt="">
                                <div class="media-body">
                                    <span class="post-tag">
                                        <a href="#" class="blue-light-color">Technology</a>
                                    </span>
                                    <h4 class="post-title">
                                        <a href="">18 month old shoots himself by gun </a>
                                    </h4>
                                </div>
                            </div>
                            <!-- post content end-->
                            <div class="post-content media">
                                <img class="d-flex sidebar-img" src="~/images/news/tech/tech5.jpg" alt="">
                                <div class="media-body">
                                    <span class="post-tag">
                                        <a href="#" class="blue-light-color"> Robotics</a>
                                    </span>
                                    <h4 class="post-title">
                                        <a href="">Tesla just lost its head of global finance </a>
                                    </h4>
                                </div>
                            </div>
                            <!-- post content end-->
                            <div class="post-content media">
                                <img class="d-flex sidebar-img" src="~/images/news/tech/tech4.jpg" alt="">
                                <div class="media-body">
                                    <span class="post-tag">
                                        <a href="#" class="blue-light-color"> Gadget</a>
                                    </span>
                                    <h4 class="post-title">
                                        <a href="">18 month old shoots himself by gun </a>
                                    </h4>
                                </div>
                            </div>
                            <!-- post content end-->
                            <div class="post-content media">
                                <img class="d-flex sidebar-img" src="~/images/news/tech/tech2.jpg" alt="">
                                <div class="media-body">
                                    <span class="post-tag">
                                        <a href="#" class="blue-light-color"> gadget</a>
                                    </span>
                                    <h4 class="post-title">
                                        <a href="">Tesla just lost its head of global finance </a>
                                    </h4>
                                </div>
                            </div>
                            <!-- post content end-->
                        </div>
                    </div>
                    <!-- widgets end-->
                    <div class="widgets widgets-item widget-banner">
                        <a href="#">
                            <img class="img-fluid" src="~/images/banner/sidebar-banner3.png" alt="">
                        </a>
                    </div>

                </div>
                <!-- left sidebar end-->
            </div>
            <!-- col end-->
            <div class="col-lg-9">
                <div class="ts-heading clearfix">
                    <h2 class="ts-title float-left">
                        Virtual Reality
                    </h2>
                    <div class="float-right">
                        <a href="#" class="view-all-link">View All</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="ts-overlay-style featured-post featured-post-1 overlay-heighlight-orange mb-30">
                            <div class="item" style="background-image:url(images/news/tech/tech6.jpg)">
                                <a class="post-cat" href="#">Gadget</a>
                                <div class="overlay-post-content">
                                    <div class="post-content">
                                        <h2 class="post-title md">
                                            <a href="#">Netcix cuts out the chill with an integrated personal trainer on running</a>
                                        </h2>
                                        <ul class="post-meta-info">
                                            <li class="author">
                                                <a href="#">
                                                    <img src="~/images/avater/author1.jpg" alt=""> Donald Ramos
                                                </a>
                                            </li>
                                            <li>
                                                <i class="fa fa-clock-o"></i>
                                                March 21, 2019
                                            </li>
                                            <li class="active">
                                                <i class="icon-fire"></i>
                                                3,005
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--/ Featured post end -->
                            </div>
                        </div>
                        <div class="ts-overlay-style featured-post featured-post-2 overlay-heighlight-blue-dark">
                            <div class="item" style="background-image:url(images/news/fashion/fashion1.jpg)">
                                <a class="post-cat ts-pink-bg" href="#">Fashion</a>
                                <div class="overlay-post-content">
                                    <div class="post-content">
                                        <h2 class="post-title md">
                                            <a href="#">Tesla just lost its head of global finance</a>
                                        </h2>
                                        <ul class="post-meta-info">
                                            <li class="author">
                                                <a href="#">
                                                    <img src="~/images/avater/author1.jpg" alt=""> Donald Ramos
                                                </a>
                                            </li>
                                            <li>
                                                <i class="fa fa-clock-o"></i>
                                                March 21, 2019
                                            </li>
                                            <li class="active">
                                                <i class="icon-fire"></i>
                                                3,005
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--/ Featured post end -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item mb-25">
                            <div class="ts-post-thumb">
                                <a class="post-cat  " href="#">Gadget</a>
                                <a href="#">
                                    <img class="img-fluid" src="~/images/news/tech/tech2.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title">
                                    <a href="#">Tourism in Dubai tourist head of global favorite head</a>
                                </h3>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>
                            </div>
                        </div>
                        <div class="item mb-25">
                            <div class="ts-post-thumb">
                                <a class="post-cat  " href="#">Technology</a>
                                <a href="#">
                                    <img class="img-fluid" src="~/images/news/tech/tech1.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title">
                                    <a href="#">Tesla just lost its head of global finance head of global</a>
                                </h3>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ts-post-thumb">
                                <a class="post-cat  " href="#">Robotics</a>
                                <a href="#">
                                    <img class="img-fluid" src="~/images/news/tech/tech5.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title">
                                    <a href="#">Beats did announce something today, after all announce something </a>
                                </h3>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- block wrapper end-->
<!-- block wrapper start-->
<section class="block-wrapper vedio-section" style="background: url(images/video-bg.png) no-repeat center center /cover">
    <div class="container">
        <div class="ts-heading clearfix white">
            <h2 class="ts-title float-left">
                Watch Now
            </h2>
            <div class="float-right">
                <a href="#" class="view-all-link">View All</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="ts-overlay-style overlay-heighlight-yellow">
                    <div class="item">
                        <div class="ts-post-thumb">
                            <a class="post-cat  " href="#">Technology</a>
                            <a href="#">
                                <img class="img-fluid" src="~/images/news/tech/tech1.jpg" alt="">
                            </a>
                            <a href="https://www.youtube.com/watch?v=uZmz6fGRVW4" class="ts-video-icon">
                                <i class="fa fa-play-circle-o "></i>
                            </a>
                        </div>
                        <div class="overlay-post-content">
                            <div class="post-content">
                                <h3 class="post-title">
                                    <a href="#">Beats did announce something today, after all something today</a>
                                </h3>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- end item-->
                </div>
                <!--ts-overlay-style end -->
            </div>
            <!-- col end-->
            <div class="col-lg-4">
                <div class="ts-overlay-style overlay-heighlight-red">
                    <div class="item">
                        <div class="ts-post-thumb">
                            <a class="post-cat  " href="#">Gadget</a>
                            <a href="#">
                                <img class="img-fluid" src="~/images/news/tech/tech2.jpg" alt="">
                            </a>
                            <a href="https://www.youtube.com/watch?v=uZmz6fGRVW4" class="ts-video-icon">
                                <i class="fa fa-play-circle-o "></i>
                            </a>
                        </div>
                        <div class="overlay-post-content">
                            <div class="post-content">
                                <h3 class="post-title">
                                    <a href="#">Tourism in Dubai is booming international tourist most visited place</a>
                                </h3>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- end item-->
                </div>
                <!--ts-overlay-style end -->
            </div>
            <!-- col end-->
            <div class="col-lg-4">
                <div class="ts-overlay-style overlay-heighlight-green">
                    <div class="item">
                        <div class="ts-post-thumb">
                            <a class="post-cat  " href="#">Gadget</a>
                            <a href="#">
                                <img class="img-fluid" src="~/images/news/tech/tech6.jpg" alt="">
                            </a>
                            <a href="https://www.youtube.com/watch?v=uZmz6fGRVW4" class="ts-video-icon">
                                <i class="fa fa-play-circle-o "></i>
                            </a>
                        </div>
                        <div class="overlay-post-content">
                            <div class="post-content">
                                <h3 class="post-title">
                                    <a href="#">Hands on with the Apple Watch Series 4 Apple Watch</a>
                                </h3>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- end item-->
                </div>
                <!--ts-overlay-style end -->
            </div>
            <!-- col end-->

        </div>
    </div>
</section>
<!-- block wrapper end-->
<!-- block wrapper start-->
<section class="block-wrapper p-30">
    <div class="container">
        <div class="ts-heading clearfix">
            <h2 class="ts-title float-left">
                Devices
            </h2>
        </div>
        <div class="row post-category-item">
            <div class="col-lg-3">
                <div class="ts-overlay-style featured-post overlay-heighlight-green mb-30">
                    <div class="item" style="background-image:url(images/news/tech/tech6.jpg)">
                        <a class="post-cat  " href="#">Gadget</a>
                        <div class="overlay-post-content">
                            <div class="post-content">
                                <h2 class="post-title">
                                    <a href="#">Hands on with the Apple Watch Series 4</a>
                                </h2>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>
                            </div>
                        </div>
                        <!--/ Featured post end -->
                    </div>
                </div>
            </div>
            <!-- col end-->
            <div class="col-lg-3">
                <div class="ts-overlay-style featured-post overlay-heighlight-blue-dark mb-30">
                    <div class="item" style="background-image:url(images/news/tech/tech4.jpg)">
                        <a class="post-cat  " href="#">Gadget</a>
                        <div class="overlay-post-content">
                            <div class="post-content">
                                <h2 class="post-title">
                                    <a href="#">Tourism in Dubai is booming the tourist most visited</a>
                                </h2>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>
                            </div>
                        </div>
                        <!--/ Featured post end -->
                    </div>
                </div>
            </div>
            <!-- col end-->
            <div class="col-lg-3">
                <div class="ts-overlay-style featured-post overlay-heighlight-blue mb-30">
                    <div class="item" style="background-image:url(images/news/tech/tech1.jpg)">
                        <a class="post-cat  " href="#">Technology</a>
                        <div class="overlay-post-content">
                            <div class="post-content">
                                <h2 class="post-title">
                                    <a href="#">10 critical points from epic security manifesto</a>
                                </h2>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>
                            </div>
                        </div>
                        <!--/ Featured post end -->
                    </div>
                </div>
            </div>
            <!-- col end-->
            <div class="col-lg-3">
                <div class="ts-overlay-style featured-post overlay-heighlight-yellow mb-30">
                    <div class="item" style="background-image:url(images/news/tech/tech2.jpg)">
                        <a class="post-cat  " href="#">Gadget</a>
                        <div class="overlay-post-content">
                            <div class="post-content">
                                <h2 class="post-title">
                                    <a href="#">Tourism in Dubai is booming the tourist most visited</a>
                                </h2>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>
                            </div>
                        </div>
                        <!--/ Featured post end -->
                    </div>
                </div>
            </div>
            <!-- col end-->
            <div class="col-lg-3">
                <div class="ts-overlay-style featured-post overlay-heighlight-yellow mb-30">
                    <div class="item" style="background-image:url(images/news/tech/tech1.jpg)">
                        <a class="post-cat  " href="#">Technology</a>
                        <div class="overlay-post-content">
                            <div class="post-content">
                                <h2 class="post-title">
                                    <a href="#">Beats did announce something today, after all</a>
                                </h2>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>
                            </div>
                        </div>
                        <!--/ Featured post end -->
                    </div>
                </div>
            </div>
            <!-- col end-->
            <div class="col-lg-3">
                <div class="ts-overlay-style featured-post overlay-heighlight-red mb-30">
                    <div class="item" style="background-image:url(images/news/tech/tech3.jpg)">
                        <a class="post-cat " href="#">Robotics</a>
                        <div class="overlay-post-content">
                            <div class="post-content">
                                <h2 class="post-title">
                                    <a href="#">Tourism in Dubai is booming the tourist most visited</a>
                                </h2>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>
                            </div>
                        </div>
                        <!--/ Featured post end -->
                    </div>
                </div>
            </div>
            <!-- col end-->
            <div class="col-lg-3">
                <div class="ts-overlay-style featured-post  overlay-heighlight-green mb-30">
                    <div class="item" style="background-image:url(images/news/tech/tech5.jpg)">
                        <a class="post-cat  " href="#">Robotics</a>
                        <div class="overlay-post-content">
                            <div class="post-content">
                                <h2 class="post-title">
                                    <a href="#">Beats did announce something today, after all</a>
                                </h2>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>
                            </div>
                        </div>
                        <!--/ Featured post end -->
                    </div>
                </div>
            </div>
            <!-- col end-->
            <div class="col-lg-3">
                <div class="ts-overlay-style featured-post overlay-heighlight-blue-dark mb-30">
                    <div class="item" style="background-image:url(images/news/fashion/fashion1.jpg)">
                        <a class="post-cat  " href="#">Phone</a>
                        <div class="overlay-post-content">
                            <div class="post-content">
                                <h2 class="post-title">
                                    <a href="#">Tourism in Dubai is booming the tourist most visited</a>
                                </h2>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>
                            </div>
                        </div>
                        <!--/ Featured post end -->
                    </div>
                </div>
            </div>
            <!-- col end-->
        </div>
        <!-- row end-->
        <div class="row">
            <div class="col-lg-12">
                <div class="load-more text-center">
                    <a href="#">
                        <i class="fa fa-spinner"></i>
                        Load More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- block wrapper end-->
