@model List<SCA.Entity.DTO.ContentForHomePageDTO>

@{
    ViewData["Title"] = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ts-title.full-size-ts::before {
        left: 0;
    }

    .full-size-ts > span {
        padding-left: 20px;
    }

    .ts-single-inst img {
        height: 190px !important;
    }

    .ts-social-list-item ul {
        margin:0 !important;
        text-align:center;
    }
    .pb-110{
        padding-bottom:110px;
    }
</style>

<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css">

@await  Component.InvokeAsync("CompanyClubHeader")

@await  Component.InvokeAsync("ImageGalery")

@await  Component.InvokeAsync("Anouncement")

@await  Component.InvokeAsync("CompanyClubInformation")

@await  Component.InvokeAsync("YoutubePlaylist")

<section class="block-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                @await Component.InvokeAsync("NewsWith2Columns", Model)
                
            </div>
            <div class="col-lg-3">
                <div class="right-sidebar">
                    @await Component.InvokeAsync("SocialMedia")
                    @await Component.InvokeAsync("PopularContents", new { count = 5 })
                    @await Component.InvokeAsync("PopularCategories")
                    @await Component.InvokeAsync("NewsletterForm")
                </div>
            </div>
        </div>
    </div>
</section>

<section class="block-wrapper hot-topics-item">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">


                <!-- row end-->
                <div class="ts-pagination text-center mb-20">
                    <ul class="pagination">
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>