
@{
    ViewData["Title"] = "Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- post wraper start-->
<section class="block-wrapper mt-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="ts-grid-box">
                    <div class="author-box author-box-item">
                        <img class="author-img" src="images/news/user1.png" alt="">
                        <div class="author-info">
                            <div class="author-name">
                                <h4>Elina Themen</h4>
                            </div>

                            <div class="authors-social">
                                <a href="#" class="ts-twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="ts-facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="ts-google-plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#" class="ts-linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <p>
                                1500'lerden beri kullanılan standart Lorem Ipsum pasajı
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                            </p>

                            <p>
                                M.Ö. 45 tarihinde Çiçero tarafından yazılan "de Finibus Bonorum et Malorum"un 1.10.32 sayılı bölümü
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
                            </p>


                        </div>
                        <ul class="post-meta-info">
                            <li>
                                <a href="">
                                    8 posts
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-comments"></i>
                                    5 comments
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="ts-grid-box ts-grid-content mb-30">
                            <a class="post-cat ts-yellow-bg" href="#">Travel</a>
                            <div class="ts-post-thumb">
                                <a href="#">
                                    <img class="img-fluid" src="images/news/travel/travel3.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title md">
                                    <a href="#">Tourism in Dubai is booming by international tourist</a>
                                </h3>
                                <p>
                                    Lumbersexual meh sustainable Thundercats meditation kogi. Tilde Pitchfork vegan, gentrify minim elit semiotics non messenger
                                    bag Austin..
                                </p>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>

                            </div>
                        </div>
                        <!-- ts grid box-->
                    </div>
                    <!-- col end-->
                    <div class="col-md-6">
                        <div class="ts-grid-box ts-grid-content mb-30">
                            <a class="post-cat ts-yellow-bg" href="#">Travel</a>
                            <div class="ts-post-thumb">
                                <a href="#">
                                    <img class="img-fluid" src="images/news/travel/travel4.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title md">
                                    <a href="#">Tourism in Dubai is booming by international tourist</a>
                                </h3>
                                <p>
                                    Lumbersexual meh sustainable Thundercats meditation kogi. Tilde Pitchfork vegan, gentrify minim elit semiotics non messenger
                                    bag Austin..
                                </p>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>

                            </div>
                        </div>
                        <!-- ts grid box-->
                    </div>
                    <!-- col end-->
                    <div class="col-md-6">
                        <div class="ts-grid-box ts-grid-content mb-30">
                            <a class="post-cat ts-green-bg" href="#">Food</a>
                            <div class="ts-post-thumb">
                                <a href="#">
                                    <img class="img-fluid" src="images/news/foods/food13.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title md">
                                    <a href="#">Tourism in Dubai is booming by international tourist</a>
                                </h3>
                                <p>
                                    Lumbersexual meh sustainable Thundercats meditation kogi. Tilde Pitchfork vegan, gentrify minim elit semiotics non messenger
                                    bag Austin..
                                </p>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>

                            </div>
                        </div>
                        <!-- ts grid box-->
                    </div>
                    <!-- col end-->
                    <div class="col-md-6">
                        <div class="ts-grid-box ts-grid-content mb-30">
                            <a class="post-cat ts-blue-light-bg" href="#">Technology</a>
                            <div class="ts-post-thumb">
                                <a href="#">
                                    <img class="img-fluid" src="images/news/tech/tech5.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title md">
                                    <a href="#">Tourism in Dubai is booming by international tourist</a>
                                </h3>
                                <p>
                                    Lumbersexual meh sustainable Thundercats meditation kogi. Tilde Pitchfork vegan, gentrify minim elit semiotics non messenger
                                    bag Austin..
                                </p>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>

                            </div>
                        </div>
                        <!-- ts grid box-->
                    </div>
                    <!-- col end-->
                    <div class="col-md-6">
                        <div class="ts-grid-box ts-grid-content mb-30">
                            <a class="post-cat ts-blue-bg" href="#">Lifestyle</a>
                            <div class="ts-post-thumb">
                                <a href="#">
                                    <img class="img-fluid" src="images/news/travel/travel6.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title md">
                                    <a href="#">Tourism in Dubai is booming by international tourist</a>
                                </h3>
                                <p>
                                    Lumbersexual meh sustainable Thundercats meditation kogi. Tilde Pitchfork vegan, gentrify minim elit semiotics non messenger
                                    bag Austin..
                                </p>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>

                            </div>
                        </div>
                        <!-- ts grid box-->
                    </div>
                    <!-- col end-->
                    <div class="col-md-6">
                        <div class="ts-grid-box ts-grid-content mb-30">
                            <a class="post-cat ts-yellow-bg" href="#">Travel</a>
                            <div class="ts-post-thumb">
                                <a href="#">
                                    <img class="img-fluid" src="images/news/travel/travel8.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title md">
                                    <a href="#">Tourism in Dubai is booming by international tourist</a>
                                </h3>
                                <p>
                                    Lumbersexual meh sustainable Thundercats meditation kogi. Tilde Pitchfork vegan, gentrify minim elit semiotics non messenger
                                    bag Austin..
                                </p>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    March 21, 2019
                                </span>

                            </div>
                        </div>
                        <!-- ts grid box-->

                    </div>
                    <!-- col end-->

                </div>
                <div class="ts-pagination text-center mb-20">
                    <ul class="pagination">
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- col end-->
            <div class="col-lg-3">
                <div class="right-sidebar">
                    <div class="ts-grid-box widgets">
                        <h2 class="ts-title">Follow us</h2>
                        <ul class="ts-social-list">
                            <li class="ts-facebook">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <label>12.5 k </label>
                                <span>Likes</span>
                            </li>
                            <li class="ts-google-plus">
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <label>12.5 k </label>
                                <span>Follwers</span>
                            </li>
                            <li class="ts-twitter">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <label>12.5 k </label>
                                <span>Follwers</span>
                            </li>
                            <li class="ts-pinterest">
                                <a href="#">
                                    <i class="fa fa-pinterest-p"></i>
                                </a>
                                <label>12.5 k </label>
                                <span>Photos</span>
                            </li>
                            <li class="ts-linkedin">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <label>12.5 k </label>
                                <span>Follwers</span>
                            </li>
                            <li class="ts-youtube">
                                <a href="#">
                                    <i class="fa fa-youtube"></i>
                                </a>
                                <label>12.5 k </label>
                                <span>Follwers</span>
                            </li>
                        </ul>
                    </div>
                    <!-- widgets end-->

                    <div class="widgets widget-banner">
                        <a href="#">
                            <img class="img-fluid" src="images/banner/sidebar-banner2.jpg" alt="">
                        </a>
                    </div>
                    <!-- widgets end-->
                    <div class="post-list-item widgets">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation">
                                <a class="active" href="#home" aria-controls="home" role="tab" data-toggle="tab">
                                    <i class="fa fa-clock-o"></i>
                                    Recent
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                                    <i class="fa fa-heart"></i>
                                    Favorites
                                </a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active ts-grid-box post-tab-list" id="home">
                                <div class="post-content media">
                                    <img class="d-flex sidebar-img" src="images/news/sports/sports2.jpg" alt="">
                                    <div class="media-body">
                                        <span class="post-tag">
                                            <a href="#" class="green-color"> sports</a>
                                        </span>
                                        <h4 class="post-title">
                                            <a href="">18 month old shoots himself by gun </a>
                                        </h4>
                                    </div>
                                </div>
                                <!--post-content end-->
                                <div class="post-content media ">
                                    <img class="d-flex sidebar-img" src="images/news/tech/tech4.jpg" alt="">
                                    <div class="media-body">
                                        <span class="post-tag">
                                            <a href="#" class="yellow-color"> Technology</a>
                                        </span>
                                        <h4 class="post-title">
                                            <a href="">18 month old shoots himself by gun </a>
                                        </h4>
                                    </div>
                                </div>
                                <!--post-content end-->
                                <div class="post-content media">
                                    <img class="d-flex sidebar-img" src="images/news/sports/sports4.jpg" alt="">
                                    <div class="media-body">
                                        <span class="post-tag">
                                            <a href="#" class="blue-color"> Lifestyle</a>
                                        </span>
                                        <h4 class="post-title">
                                            <a href="">18 month old shoots himself by gun </a>
                                        </h4>
                                    </div>
                                </div>
                                <!--post-content end-->
                                <div class="post-content media">
                                    <img class="d-flex sidebar-img" src="images/news/fashion/fashion4.jpg" alt="">
                                    <div class="media-body">
                                        <span class="post-tag">
                                            <a href="#" class="pink-color"> Fashion</a>
                                        </span>
                                        <h4 class="post-title">
                                            <a href="">18 month old shoots himself by gun </a>
                                        </h4>
                                    </div>
                                </div>
                                <!--post-content end-->
                                <div class="post-content  media">
                                    <img class="d-flex sidebar-img" src="images/news/travel/travel6.jpg" alt="">
                                    <div class="media-body">
                                        <span class="post-tag">
                                            <a href="#" class="yellow-color"> Travel</a>
                                        </span>
                                        <h4 class="post-title">
                                            <a href="">18 month old shoots himself by gun </a>
                                        </h4>
                                    </div>
                                </div>
                                <!--post-content end-->

                            </div>
                            <!--ts-grid-box end -->

                            <div role="tabpanel" class="tab-pane ts-grid-box post-tab-list" id="profile">
                                <div class="post-content media">
                                    <img class="d-flex sidebar-img" src="images/news/travel/travel6.jpg" alt="">
                                    <div class="media-body">
                                        <span class="post-tag">
                                            <a href="#" class="green-color"> sports</a>
                                        </span>
                                        <h4 class="post-title">
                                            <a href="">18 month old shoots himself by gun </a>
                                        </h4>
                                    </div>
                                </div>
                                <!--post-content end-->
                                <div class="post-content media ">
                                    <img class="d-flex sidebar-img" src="images/news/fashion/fashion4.jpg" alt="">
                                    <div class="media-body">
                                        <span class="post-tag">
                                            <a href="#" class="yellow-color"> Technology</a>
                                        </span>
                                        <h4 class="post-title">
                                            <a href="">18 month old shoots himself by gun </a>
                                        </h4>
                                    </div>
                                </div>
                                <!--post-content end-->
                                <div class="post-content media">
                                    <img class="d-flex sidebar-img" src="images/news/sports/sports4.jpg" alt="">
                                    <div class="media-body">
                                        <span class="post-tag">
                                            <a href="#" class="blue-color"> Lifestyle</a>
                                        </span>
                                        <h4 class="post-title">
                                            <a href="">18 month old shoots himself by gun </a>
                                        </h4>
                                    </div>
                                </div>
                                <!--post-content end-->
                                <div class="post-content media">
                                    <img class="d-flex sidebar-img" src="images/news/sports/sports2.jpg" alt="">
                                    <div class="media-body">
                                        <span class="post-tag">
                                            <a href="#" class="pink-color"> Fashion</a>
                                        </span>
                                        <h4 class="post-title">
                                            <a href="">18 month old shoots himself by gun </a>
                                        </h4>
                                    </div>
                                </div>
                                <!--post-content end-->
                                <div class="post-content  media">
                                    <img class="d-flex sidebar-img" src="images/news/travel/travel6.jpg" alt="">
                                    <div class="media-body">
                                        <span class="post-tag">
                                            <a href="#" class="yellow-color"> Travel</a>
                                        </span>
                                        <h4 class="post-title">
                                            <a href="">18 month old shoots himself by gun </a>
                                        </h4>
                                    </div>
                                </div>
                                <!--post-content end-->
                            </div>
                            <!--ts-grid-box end -->
                        </div>
                        <!-- tab content end-->
                    </div>
                    <!-- widgets end-->

                </div>
                <!-- right sidebar end-->
            </div>
            <!-- col end-->
        </div>
        <!-- row end-->
    </div>
    <!-- container end-->
</section>
<!-- post wraper end-->
