@model List<SCA.Entity.DTO.ContentForHomePageDTO>

@{
    ViewData["Title"] = "Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- post wraper start-->
<section class="block-wrapper mt-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                @await Component.InvokeAsync("EditorInformation")
                @await Component.InvokeAsync("NewsWith2Columns", Model)
                <div class="ts-pagination text-center mb-20">
                    <ul class="pagination">
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- col end-->
            <div class="col-lg-3">
                <div class="right-sidebar">
                    @await Component.InvokeAsync("SocialMedia")
                    @await Component.InvokeAsync("Banner", new { url = "#", imagePath = "images/banner/sidebar-banner1.jpg" })
                    @await Component.InvokeAsync("RecentAndFavorites")
                    @await Component.InvokeAsync("PopularContents")
                    @await Component.InvokeAsync("PopularCategories")
                </div>
                <!-- right sidebar end-->
            </div>
            <!-- col end-->
        </div>
        <!-- row end-->
    </div>
    <!-- container end-->
</section>
<!-- post wraper end-->
