@model List<SCA.Entity.DTO.ImageGaleryDto>

<section class="instagramPhoto">
    <div class="container-fluid">
        <div class="row">
            <div class="gallery-img">
                <div class="owl-carousel" id="comp-image-galery" style="height:200px !important;">
                    @foreach (var x in Model)
                    {
                        <div class="col-md p-0">
                            <a href="@x.ImagePath" class="gallery-popup">
                                <img src="@x.ImagePath" class="img-responsive" style="height:200px;" alt="">
                            </a>
                            <!-- ts single inst-->
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
